
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap');


.SCOuterContainer{
    width: 18vw;
    height: 95px;
    background-color:rgb(255, 255, 255);
    border-left-style: solid;
    border-left-width: 8px;
    border-left-color:red ;
    border-radius: 8px;
    // margin: 100px;
    display: flex;
    // margin-right: 1.5vw;
    .SCInnerContainer{
        display: flex;
        flex-direction: column;
        margin-left: 16px;

        .SCStatName{
            margin:0;
            margin-top: 10px;
            margin-bottom: 12px;
            font-size: 13.5px;
            font-family: "Nanum Gothic", sans-serif;
        }

        .SCStatArrowContainer{
            display: flex;
            flex-direction: row;

            .SCArrowIcon{
                margin-left: 10px;
                margin-top: 0px;
            }
            .SCLogo{
                margin-left: 150px;
                margin-top: -30px;
            }

            .SCStatvalue{
                margin: 0;
                margin-bottom: 5px;
                font-weight: bolder;
                font-size: 18px;
                letter-spacing: 0.5px;
                font-family: "Nanum Gothic", sans-serif;
            }
        }
      

        .SCTime{
            margin: 0;
            font-size: 11.5px;
            color: rgb(92, 92, 92);
            letter-spacing: 0.5px;
            font-family: "Nanum Gothic", sans-serif;
        }

        
    }

}

.secondaryCard{
    width: 17vw !important;
    background-color:#E9EFF3 !important;
}

.Type_D{
    border-left-color:#4C71DE !important;
}

.Type_B{
    border-left-color:rgb(255, 0, 13) !important ;
}

.Type_C{
    border-left-color:rgb(19, 163, 0) !important ;
}

.Type_A{
    border-left-color:rgb(126, 110, 219) !important;
}
.Type_Y{
    border-left-color:yellow !important;
}