.header{
    height: 40px;
    width: 190px;
    color: #1A2F5A;
    font-family: "Source Sans Pro";
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
}

.hr{
    margin: 22px 3px 2px -26px;
    width: 108%;
}
.mainBody{
    display: flex;
    flex-direction: column 
}

.radioDiv{
    flex: 1;
    margin:5px;
    margin: 20px 0px;
}
.descriptionDiv{
   flex:3;
   margin:10px 0px;
}

.MuiButtonBase-root.MuiButton-root.reject-button  {
 

    height: 44px;
    width: 168.94px;
    background: linear-gradient(0deg, #002647 0%, #2E79B1 100%);
    color:white

}

.MuiRadio-root.MuiRadio-colorSecondary.PrivateSwitchBase-checked-34.Mui-checked.MuiIconButton-colorSecondary{
    color:#003F7B

}

.MuiTypography-root.MuiFormControlLabel-label.MuiTypography-body1{
    
    color: #2F354F
}

.MuiInputBase-root.MuiOutlinedInput-root.lean-form-text-field.MuiInputBase-multiline.MuiOutlinedInput-multiline{
        height: 150px;

}