// .MuiSnackbarContent-root{
.MuiSnackbar-root.MuiPaper-root.MuiSnackbarContent-root{
  &.lean-snack-root{
    background-color: red;
  }
}

// .MuiSnackbarContent-root{
  .MuiPaper-root.MuiSnackbarContent-root.MuiPaper-elevation6{
  &.lean-snack-root2{
    background-color: yellow;
  }
 
}

.lean-snack-root3{
    
    & >.MuiPaper-root.MuiSnackbarContent-root.MuiPaper-elevation6{
      background-color: #444f65;      
    }
  }

  .lean-snack-notification-header{
      color: #FFFFFF;
      font-family: "Source Sans Pro";
      font-size: 16px;
      font-weight: 600;
      line-height: 30px;
      text-align: justify;
  }
  .lean-snack-notification-app{    
      color: #FFFFFF;
      font-family: Montserrat;
      font-size: 10px;
      font-weight: 600;
      line-height: 40px;    
  }
  
  .lean-snack-notification-button-1-text {
    
    border-radius: 5.6px;
    background-color: #26B82D;
    color: #FFFFFF;
    font-family: "Source Sans Pro";
    font-size: 12px;
    font-weight: 600;
    line-height: 15px;
    text-align: center;
    cursor: pointer;
    padding: 10px 20px;
    border:none;
  }
  .lean-snack-notification-button-2-text {
    
    // opacity: 0.39;
    border-radius: 5.6px;
    background-color: #8e94a1;
    color: #FFFFFF;
    font-family: "Source Sans Pro";
    font-size: 12px;
    font-weight: 600;
    line-height: 15px;
    text-align: center;
    cursor: pointer;
    padding: 10px 20px;
    margin-left: 10px;
    border:none;
  }
