%lean-text {
  font-family: "Source Sans Pro", sans-serif;
  text-transform: none;
}

%lean-form-text {
  @extend %lean-text;
  font-size: 14px;
  line-height: 18px;
}

%lean-form-limit-text {
  @extend %lean-text;
  font-size: 12px;
  line-height: 15px;
}

%lean-btn-text {
  @extend %lean-text;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
}

%lean-section-header-text {
  @extend %lean-text;
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
}

%lean-section-header-text-small {
  @extend %lean-text;
  font-size: 18px;
  font-weight: 600;
  line-height: 23px;
}

%lean-header-text {
  @extend %lean-text;
  font-size: 32px;
  font-weight: bold;
  line-height: 40px;
}

%lean-page-header-text {
  @extend %lean-text;
  font-size: 25px;	line-height: 32px;
}

%lean-time-picker-text {
  @extend %lean-text;
  font-size: 33px;
  line-height: 41px;
}
%lean-page-header-text {
  @extend %lean-text;
  font-size: 25px;
  line-height: 32px;
}
