// @import "../../assets/scss/main";

.lean-reschedule-appointment-disable-input-text-field{
    background-color: #e5ecf3;
}

.lean-form-element {
    padding : 4px 0;
    width: 100%;
}

.lean-grid-item {
    padding : 0 4px;
}

.lean-static-text {
    // @extend %lean-btn-text;
    color: #1A2F5A;
}

.MuiFormControl-root {
  &.lean-form-field {
    width: 100%;
  }
}

.MuiInputLabel-root {
  &.lean-form-label {
    // @extend %lean-form-text;
    transform: none;
    transform-origin: unset;
    padding: 0.375rem 0;
    color: #1a2f5a;
  }
}

.MuiOutlinedInput-root {
  & > fieldset {
    border-color: #dddfe8;
    border-radius: 4px;
  }
}

.MuiInputBase-root.MuiOutlinedInput-root {
  &.lean-form-text-field {
    height: 44px;
    line-height: 18px;
    color: #8f96ab;
    width:inherit;
    background-color:white;

    &.lean-visitorChat-text-field{
      height: 32px;
      line-height: 18px;
      color: #8F96AB;
    }

    &.lean-reschedule-appointment-disable-input-text-field {
      // background-color: rgba(231, 237, 249, 0.8);
      background-color: rgba(0, 74, 143, 0.1);
      & > fieldset {
          display: none;
      }
    } 


    //make changes here for any styling

    &:hover {
      & > fieldset {
        // border-color:  red;
      }
    }

    & > .MuiChip-root {
      margin: 0 2px 0 8px;
    }

    &.lean-form-chips {
      // padding-top: 0;
      border: 1px solid;
            border-color: rgb(221, 223, 232);
            border-radius: 4px;
            padding-left: 0;
            padding-top: 0;
            padding-bottom: 0;
            // height: 44px;
            height: auto;
            min-height: 44px;
            max-height: 100px;
            overflow: auto;
            & > .MuiChip-root {
                margin: 0 2px 0 8px;
                height: 29px;
                border-radius: 14.5px;
                background-color: rgba(0, 74, 143, 0.1);
                & > .MuiChip-label {
                    // @extend %lean-form-text;
                    color: rgb(26, 47, 90);
                }
            }
            &.lean-form-text-field-disabled {
                // background-color: rgba(231, 237, 249, 0.8);
                background-color: rgba(0, 74, 143, 0.1);
                border: none;
                &.Mui-disabled {
                    border-color: rgba(0, 0, 0, 0.26);
                }
            }
            &.lean-form-text-field-error {
                // background-color: rgba(231, 237, 249, 0.8);
                border-color: rgba(255, 0, 0, 1);
                &:focus {
                    border-color: rgba(255, 0, 0, 1);
                }
                &:hover {
                    border-color: rgba(255, 0, 0, 1);
                }
                &:active {
                    border-color: rgba(255, 0, 0, 1);
                }
                &.Mui-focused {
                    border-color: rgba(255, 0, 0, 1);
                }
            }

      & > input {
        margin: 0;
        box-sizing: inherit;
      }
    }

    &.Mui-focused {
      & > fieldset {
        // border-color:  green;
      }
    }

    & > .MuiSelect-root {
      // width : 100px;
      text-overflow: unset;
      &:focus {
        background: none;
      }
    }

    &.MuiAutocomplete-inputRoot {
      padding: 0;
    }

    & > .MuiAutocomplete-input:first-child {
      padding: 1rem 0.75rem;
    }

    & > input {
      // @extend %lean-form-text;
      padding: 1rem 0.75rem;
    }

    & > textarea {
      // @extend %lean-form-text;
    }

    & > .MuiSelect-root {
      // @extend %lean-form-text;
    }

    &.MuiInputBase-multiline.MuiOutlinedInput-multiline {
      height: auto;
    }

    & > .lean-form-picker-adornment.MuiInputAdornment-root.MuiInputAdornment-positionEnd {
        margin-left : 0px;

        & > .MuiIconButton-root.lean-form-picker-button {
            padding : 0px;
        }
    }
  }

  // .lean-reschedule-appointment-disable-input-text-field{
  //   background-color: #e5ecf3;
  // }
}

.lean-text-field-character-limit {
  // @extend %lean-form-limit-text;
  color: #4e4e4e;
  opacity: 0.7;
  font-weight: 600;
  padding: 4px 0;
}

.lean-toggle-switch.MuiSwitch-root {
  width: 47px;
  height: 28px;
  padding: 0px;

  & > .lean-toggle-switch-switchBase.MuiSwitch-switchBase {
    padding: 5px;
    top: -1px;

    & + .lean-toggle-switch-track.MuiSwitch-track {
      box-sizing: border-box;
      height: 28px;
      width: 47px;
      border: 2px solid #004a8f;
      border-radius: 12px;
      background: none;
      opacity: 1;
    }

    &.Mui-checked {
      transform: translateX(18px);
      & + .lean-toggle-switch-track.MuiSwitch-track {
        background: none;
        opacity: 1;
      }
    }
    & .MuiSwitch-thumb {
    //   height: 18px;
    //   width: 18px;  
      color: #004a8f;
      opacity: 1;
    }
  }
}

// .lean-toggle-switch-switchBase.Mui-checked
//   + .lean-toggle-switch-track.MuiSwitch-track {
//   background-color: "red";
//   opacity: 1;
//   border: none;
// }
.lean-form-time-picker-paper {
  &.MuiPopover-paper {
      & > .MuiPickersBasePicker-container {
          & > .MuiPickersToolbar-toolbar {
              background: rgb(255, 255, 255);
              height: 42px;
              padding: 0;
              // color: blue;
              & > .MuiPickersTimePickerToolbar-ampmSelection > button > span > h6 {
                  // @extend %lean-form-limit-text;
                  color: rgb(148, 148, 148);
              }
              &
                  > .MuiPickersTimePickerToolbar-ampmSelection
                  > button
                  > span
                  > h6.MuiPickersToolbarText-toolbarBtnSelected {
                  // @extend %lean-form-limit-text;
                  color: rgb(0, 72, 145);
              }
              & > .MuiPickersTimePickerToolbar-hourMinuteLabel > h2 {
                  // @extend %lean-time-picker-text;
                  color: rgb(148, 148, 148);
              }
              & > .MuiPickersTimePickerToolbar-hourMinuteLabel > button > span > h2 {
                  // @extend %lean-time-picker-text;
                  color: rgb(148, 148, 148);
              }
              &
                  > .MuiPickersTimePickerToolbar-hourMinuteLabel
                  > button
                  > span
                  > h2.MuiPickersToolbarText-toolbarBtnSelected {
                  color: rgb(0, 72, 145);
              }
          }
          & > .MuiPickersBasePicker-pickerView {
              min-width: unset;
              min-height: unset;
              height: 210px;
              background: rgba(0, 0, 0, 0.07);
              overflow: hidden;
              & > .MuiPickersClock-container {
                  transform: scale(0.75);
                  margin: 0;
                  & > .MuiPickersClock-clock {
                      background-color: white;
                  }
              }
          }
      }
  }
}
.lean-form-element-menu-item.MuiListItem-root {
  // @extend %lean-form-text;
  line-height: 24px;
  padding: 2px 12px;
  &:hover {
      background-color: rgb(0, 74, 143);
      color: rgb(255, 255, 255);
  }
  &.Mui-selected:hover {
      background-color: rgb(0, 74, 143);
      color: rgb(255, 255, 255);
  }
  &.Mui-selected {
      background-color: unset;
      // color: rgb(255, 255, 255);
  }
}

// .MuiInputBase-root.MuiOutlinedInput-root {  
//   &.lean-form-text-field {
//     height: 44px;
//     line-height: 18px;
//     color: #8F96AB;
//     // border-radius: 50%;
//     &.lean-visitorChat-text-field{
//       height: 32px;
//       line-height: 18px;
//       color: #8F96AB;
//     }
//     //make changes here for any styling
//     &:hover {
//       & > fieldset {
//         // border-color:  red;
//         // border-radius: 50%  
//       }
//     }
//     & > .MuiChip-root {
//       margin: 0 2px 0 8px;
//     }
//     &.lean-form-chips {
//       padding-top: 0;
//       & > input {
//         margin: 0;
//         box-sizing: inherit;
//       }
//     }
//     &.Mui-focused {
//       & > fieldset {
//         // border-color:  green;
//       }
//     }
//     & > .MuiSelect-root {
//       // width : 100px;
//       &:focus {
//         background: none;
//       }
//     }
//     &.MuiAutocomplete-inputRoot {
//       padding: 0;
//     }
//     & > .MuiAutocomplete-input:first-child {
//       padding: 1rem 0.75rem;
//     }
//     & > input {
      // @extend %lean-form-text;
//       padding: 1rem 0.75rem;
//     }
//     & > textarea {
//       @extend %lean-form-text;
//     }
//     & > .MuiSelect-root {
//       @extend %lean-form-text;
//     }
//     &.MuiInputBase-multiline.MuiOutlinedInput-multiline {
//       height: auto;
//     }
//   }
// }
.lean-form-time-picker-paper {
  &.MuiPopover-paper {
      & > .MuiPickersBasePicker-container {
          & > .MuiPickersToolbar-toolbar {
              background: rgb(255, 255, 255);
              height: 42px;
              padding: 0;
              // color: blue;
              & > .MuiPickersTimePickerToolbar-ampmSelection > button > span > h6 {
                  // @extend %lean-form-limit-text;
                  color: rgb(148, 148, 148);
              }
              &
                  > .MuiPickersTimePickerToolbar-ampmSelection
                  > button
                  > span
                  > h6.MuiPickersToolbarText-toolbarBtnSelected {
                  // @extend %lean-form-limit-text;
                  color: rgb(0, 72, 145);
              }
              & > .MuiPickersTimePickerToolbar-hourMinuteLabel > h2 {
                  // @extend %lean-time-picker-text;
                  color: rgb(148, 148, 148);
              }
              & > .MuiPickersTimePickerToolbar-hourMinuteLabel > button > span > h2 {
                  // @extend %lean-time-picker-text;

                  color: rgb(148, 148, 148);
              }
              &
                  > .MuiPickersTimePickerToolbar-hourMinuteLabel
                  > button
                  > span
                  > h2.MuiPickersToolbarText-toolbarBtnSelected {
                  color: rgb(0, 72, 145);
              }
          }
          & > .MuiPickersBasePicker-pickerView {
              min-width: unset;
              min-height: unset;
              height: 210px;
              background: rgba(0, 0, 0, 0.07);
              overflow: hidden;
              & > .MuiPickersClock-container {
                  transform: scale(0.75);
                  margin: 0;
                  & > .MuiPickersClock-clock {
                      background-color: white;
                  }
              }
          }
      }
  }
}