@import "../../assets/scss/base/base";
@import "../../assets/scss/abstracts/placeholders";
@import "../../assets/scss/abstracts/variables";
@import "../../assets/scss/base/typography";
@import "../../assets/scss/components/button";


.lean-form-element {
    padding : 4px 0;
}

.lean-grid-item {
    padding : 0 4px;
}

