.main {
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 100%;
}

.cloud-flex {
	flex: 10;
}
.send-flex {
	flex: 1.2;
	padding: 2px;
}
.main-root {
	width: 373px;

	// border: 0.2px inset;
	display: flex;
	flex-direction: column;
	// margin: 20px;
	padding-top: 3px;

	@media screen and (max-width: 600px) {
		width: unset;
	}
}

.chat-header {
	//    height: 80%;
	border-bottom: inset;
	flex: 1.2;
}

.message1 img {
	float: left;
}

.cloud1 {
	border-radius: 10px;
	background-color: #e6e6e6;
	color: #1a2f5a;
	padding: 9px;
}

.cloud2 {
	border-radius: 10px;
	background-color: #7fc2f5;
	padding: 9px;
	color: #1a2f5a;
}
.message1 {
	display: flex;
	flex-direction: column;
	& > .msgflexDivImage {
	}
	& > .msgflexDivMsg {
		background: #7fc2f5;
		color: black;
		display: inline;
		padding: 10px 8px;
		border-radius: 8px;
		width: 15em;
	}
}
.message2 {
	display: flex;
	flex-direction: column;
	& > .msgflexDivImage {
		flex: 1;
	}
	& > .msgflexDivMsg {
		background: #e6e6e6;
		color: black;
		display: inline;
		flex: 5;
		padding: 10px 8px;
		border-radius: 8px;
		float: right;
		width: 15em;
	}
}
.message-list {
	box-sizing: border-box;
	padding: 0 0 0 6px;
	margin: 0;
	width: 100%;
	height: 100%;
	min-height: 85vh;
	max-height: 85vh;
	overflow: hidden scroll;
	scrollbar-width: none;
	background: white;
    border-bottom: inset;
    
    @media screen and (max-width: 600px){
        min-height: 83vh;   
        max-height: 83vh;
    }
}

.message-list::-webkit-scrollbar {
	display: none;
}

.message1,
.message2 {
	margin: 15px 0;
}

.my-adorned-button {
	&
		> .MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-formControl.MuiInputBase-adornedEnd.MuiOutlinedInput-adornedEnd {
		// padding: 11px;
		width: 363px;
		height: 49px;
		margin-left: 3px;
		margin-top: 2px;

		@media screen and (max-width: 600px ){
			width: unset;
		}
	}
}

.MuiListItemAvatar-root {
	min-width: 56px;
	padding: 4px 0px 2px 10px;
	flex-shrink: 0;
}

.sharpButton {
	transform: rotate(320deg);
	margin-bottom: 6px;
	margin-right: -15px;
}

.chat-box-header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-bottom: 5px;
	padding-left: 12px;
}

.chat-box-header-name-pic-align {
	flex: 1;
	font-size: 16px;
	padding: 10px 1px;
	text-transform: capitalize;
}
