@import url("https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap");
button::-moz-focus-inner {
  border: 0;
}

.medium-btn {
  width: 125px;
}

.big-btn {
  width: 160px;
}

.small-btn {
  /* height: 48px; */
  width: 120px;
  /* padding-right:47px; */

}

.large-btn {
  width: 250px;
}

.btn-rounded {
  height: 48px;
  width: 129px;
  border-radius: 24px;
  border: none;
  font-size: 16px;
  color: #070644;
  font-weight: 500;
  font-family: "Nanum Gothic", sans-serif;
  background-color: rgba(6, 5, 66, 0.1);
}

.btn-rounded:active {
  background-color: rgba(6, 5, 66, 0.15);
}

.primary {
  height: 48px;
  width: 108px;
  border-radius: 4px;
  background-color: #030240;
  float:right;
  color: white;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: rgba(6, 5, 66, 0.9);
  border: none;
  font-family: "Nanum Gothic", sans-serif;
}

.primary:focus {
  outline: 0 !important;
}

.primary:active {
  background-color: rgba(6, 5, 66, 0.83);
}

.secondary {
  height: 56px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  border: none;
  font-family: "Nanum Gothic", sans-serif;
  border-radius: 4px;
  background-color: rgba(6, 5, 66, 0.1);
  color: #1F1E56;
}

.secondary:focus {
  outline: 0 !important;
}

.secondary:active {
  background-color: rgba(6, 5, 66, 0.15);
}
/*# sourceMappingURL=Button.css.map */