@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap');

$primaryTextColor: white;
$secondaryTextColor:#0E0F42;
$tabletBlue:#0E0F42;
$font:"Nanum Gothic", sans-serif;

@mixin buttonCommon {
    
    height: 44px;
    width: 177px;
    border-radius: 4px;
    background-color: #030240;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    &:focus {outline:0 !important; }
   
};

// .verifyOtpCenter{
//     padding-right: 72px;
// }

button::-moz-focus-inner {
    border: 0;
  }

.medium-btn{
    width: 125px;
}

.big-btn{
    width: 160px;
}

.small-btn{
    width: 120px;
}

.large-btn{
    width: 250px;
}

.btn-rounded{
    height: 48px;	
    width: 129px;	    	
    border-radius: 24px;	
    border: none;
    font-size: 16px;
    color: #070644;
    font-weight: 500;
    font-family: $font;
    background-color: rgba(6, 5, 66, 0.1);
    &:active{
        background-color: rgba(6, 5, 66, 0.15);
    }
}


.primary{
    @include buttonCommon();
    background-color: rgba(6, 5, 66, 0.9);	
    border-radius: 4px;
    border: none;
    font-family: $font;
    color: $primaryTextColor;

    &:active{
        background-color: rgba(6, 5, 66, 0.83);
    }

}

.secondary{
    @include buttonCommon();
    border-radius: 4px;
    border: none;
    font-family: $font;
    border-radius: 4px;	
    background-color: rgba(6, 5, 66, 0.1);
    color:#1F1E56;
    &:active{
        background-color: rgba(6, 5, 66, 0.15);
    }

}