@import "../../assets/scss/base/base";
@import "../../assets/scss/abstracts/placeholders";
@import "../../assets/scss/abstracts/variables";
@import "../../assets/scss/base/typography";
@import "../../assets/scss/components/button";


.MuiStepLabel-iconContainer{
    border:5px solid  #D8D8D8;
    border-radius: 50%;
}

.MuiStepConnector-line{
  
    border: 5px solid;
    background-color: #D8D8D8;
    box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.17);
}

.lean-grid-item-Heading{
    padding-top: 8px;
    font-family: "SF UI Text Semibold";
    text-align: center;
}

.lean-grid-item-SubHeading{

    padding-top: 12px;
    color:  #131415;
    font-family: "SF UI Text Regular";
    text-align: center;
    font-weight: normal;
}

.lean-grid-item-termsandconditions{
    display: inline-flex;
}

.nextButtonVisitorRegistrationForm{
   float: right;
}

.stepsandNextButton{
    display:inline-flex;
    align-items:center;
    float:right;
    // padding-top: ;
}

.stepsSpan{
    padding: 16px;
}

.buttonDisplayNone{
    display: none;
}

.spanDisplayNone{
    display: none;
}

.lean-stepper {
    &-label {

        & > .MuiSvgIcon-root.MuiStepIcon-root
        {
            height:35px;
            width: 35px;
            fill:white;

            & > .MuiStepIcon-text
            {
                fill: black;
            }
        }

        & > .MuiSvgIcon-root.MuiStepIcon-root.MuiStepIcon-completed {
            fill: green;

        }
        
        //THIS IS FOR SPAN LABEL BORDER WHEN IT IS ACTIVE
        &-active{
           
          
           //THIS IS FOR THE CHILD SVG ICON WHEN IT IS ACTIVE
           & > .MuiSvgIcon-root.MuiStepIcon-root.MuiStepIcon-active
           {
            height:35px;
            width: 35px;
            fill:#030240;
           
            //THIS IS FOR THE TEXT SPAN INSIDE SPAN LABEL WHICH HAS THE SVG ICON
            & > .MuiStepIcon-text
            {
                fill: white;
            }
           }
        }
    }

    &-alternativeLabel{
        & > .MuiStepConnector-root.MuiStepConnector-horizontal.MuiStepConnector-alternativeLabel.Mui-disabled {
            top:17.5px;
        }

        & > .MuiStepConnector-root.MuiStepConnector-horizontal.MuiStepConnector-alternativeLabel.MuiStepConnector-active 
        {
            top:17.5px;
            & > .MuiStepConnector-line.MuiStepConnector-lineHorizontal{
                border-color: green;
            }
        }

        & > .MuiStepConnector-root.MuiStepConnector-horizontal.MuiStepConnector-alternativeLabel.MuiStepConnector-completed
        {
            top:17.5px;
            & > .MuiStepConnector-line.MuiStepConnector-lineHorizontal{
                border-color: green;
            }
            
        }
    }

    &-alternativeLabel.MuiStep-completed{
        & > .MuiStepLabel-root.MuiStepLabel-horizontal.MuiStepLabel-alternativeLabel{
            & > .MuiStepLabel-iconContainer.lean-stepper-label.MuiStepLabel-alternativeLabel{
                border-color: green;
            }
        }
       
    }
}
