@import "../../assets/scss/base/base";
@import "../../assets/scss/abstracts/placeholders";
@import "../../assets/scss/abstracts/variables";
@import "../../assets/scss/base/typography";

.lean-frequent-visitors-table {
	// padding: 9px;

	padding: 24px;
	overflow-y: scroll;
	height: 100%;
	box-sizing: border-box;

	// overflow-y: auto;
}
.lean-table {
	&-card {
		&.lean-card {
			padding: 16px;
			margin: 16px 0;
		}

		&-icon {
			&-container {
				&.MuiGrid-item {
					// margin: 0 8px;
					// height: 60px;
					width: 60px;
					// background-color: rgba(211, 211, 211, 0.37);

					& > .lean-table-card-icon > .MuiAvatar-root > img {
						&.MuiAvatar-img {
							height: 60px;
							width: 60px;
						}
					}
				}
			}
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100%;
		}

		&-headline {
			&-container {
				&.MuiGrid-item {
					// flex-basis: 55%;
					width: calc(100% - 60px - 32px);
					padding: 0 8px;
				}
			}

			display: flex;
			flex-direction: column;

			// padding-left: 12px;

			&-name {
				@extend %lean-section-header-text;
				margin: 8px 0;
				color: rgb(26, 47, 90);
				word-break: break-word;
				// padding-left: 20px;
				& > span {
					margin-right: 8px;
				}
			}
		}

		&-menu {
			&-container {
				&.MuiGrid-item {
					display: flex;
					width: 32px;
					justify-content: center;

					& > button {
						padding: 0;
					}
				}
			}
		}

		&-fav-icon {
			&.MuiGrid-item {
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}

		&-subtext {
			&.MuiGrid-item {
				padding-right: 6px;
			}
			&-container {
				&.MuiGrid-item {
					margin-left: 8px;
					padding: 6px 0;
					display: flex;
					word-break: break-word;
					align-items: center;
				}

				& > svg {
					margin-right: 12px;
					color: rgb(26, 47, 90);
				}
			}

			@extend %lean-btn-text;
			font-weight: 400;
			color: rgba(0, 0, 0, 0.8);
		}
	}

	&-header {
		background-color: #c0cadf;

		& > tr > th > button {
			@extend %lean-form-text;
			color: #1a2f5a;
			font-weight: bold;
			padding: 0;
			text-align: left;
			width: max-content;

			&:hover {
				background: none;
			}

			&.MuiButton-root > span {
				display: flex;
				flex-direction: row;
				align-items: center;

				// justify-content: flex-start;
				& > .lean-table-body-subheader {
					font-size: 10px;
					line-height: 13px;
				}
			}
		}

		& > tr > th {
			& > span {
				@extend %lean-form-text;
				color: #1a2f5a;
				font-weight: bold;
				padding: 0;
				text-align: left;
			}
		}
	}

	&-row.MuiTableRow-root.MuiTableRow-hover {
		cursor: pointer;
		&:hover {
			.lean-table-body-room-cell-icon {
				visibility: visible;
			}
		}
	}

	&-pagination {
		&.MuiTableCell-root {
			border: none;
			background: transparent;

			&.lean-table-pagination-left-heading {
				padding-left: 0;

				& > .lean-table-pagination-left-heading-tb {
					padding-left: 0;
				}
			}
		}

		&-heading.MuiTablePagination-caption,
		&-heading.MuiTypography-caption {
			@extend %lean-form-text;
			color: #1a2f5a;
			font-size: 13px;
			font-weight: 600;
			line-height: 17px;
			padding: 0 4px;
		}
		&-select {
			&.MuiTablePagination-select {
				@extend %lean-form-text;
				color: #4a4b4e;
				border-radius: 3px;
				background-color: #ffffff;
				font-size: 13px;
				font-weight: 600;
				line-height: 17px;

				&:focus {
					background: #fff;
				}
			}

			&-root.MuiTablePagination-selectRoot {
				margin-right: 10px;
			}
		}

		&-spacer.MuiTablePagination-spacer {
			flex: 1;
		}

		&-action {
			// display: flex;
			padding-left: 3px;
			text-align: start;
		}

		&-btn.MuiButton-root {
			@extend %lean-form-text;
			margin-left: 7px;
			border-radius: 3px;
			background-color: #ffffffd1;
			text-transform: none;
			color: #1a2f5a;
			font-size: 13px;
			font-weight: 600;
			line-height: 17px;
			// max-height: 37px;
			height: 37px;

			&:hover {
				background-color: #ffffff;
			}
		}
	}

	&-body {
		background: #fff;
		& > tr > td {
			@extend %lean-form-text;
			color: #4a4b4e;
			font-weight: bold;

			& > .lean-table-body-subtext {
				font-size: 12px;
				font-weight: 600;
				line-height: 15px;
			}
		}

		&-tooltip {
			&-arrow {
				&.MuiTooltip-arrow {
					color: #fff;
				}
			}

			&.MuiTooltip-tooltip {
				@extend %lean-form-text;
				color: #22629e;
				border-radius: 4px;
				padding: 12px;
				background-color: #fff;

				& > .lean-table-body-tooltip-sub-title > a {
					@extend %lean-form-limit-text;
					text-decoration: underline;
					color: #22629e;

					&:focus {
						color: #22629e;
					}
				}
			}
		}

		&-room-cell {
			&.MuiTableCell-root {
				color: #004a8f;
				width: 120px;
				min-width: 120px;
			}

			&-contents {
				display: flex;
				align-items: center;
			}

			&-data {
				margin: auto;
				margin-left: 0px;
				max-width: 90px;
				overflow: hidden;
				text-transform: capitalize;
			}

			&-icon {
				cursor: pointer;
				width: 20px;
				height: 20px;
				fill: #fff;
				border-radius: 50%;
				padding: 4px;
				background-color: #99a6b3;
				visibility: hidden;
			}
			// text-overflow: ellipsis;
			// white-space: nowrap;
			// overflow: hidden;
		}

		&-subj-cell.MuiTableCell-root {
			// width: 130px;
			// min-width: 130px;
			// max-width: 130px;
			// text-overflow: ellipsis;
			// white-space: nowrap;
			// overflow: hidden;
		}

		&-menu.MuiMenu-paper {
			border-radius: 4px;
			height: auto;
			width: 160px;
			padding: 10px;
			& > ul {
				padding: 2px 0;

				& > li {
					min-height: 0;
				}
			}
		}

		&-menu-item.MuiMenuItem-root {
			font-size: 14px;
			font-weight: 600;
			line-height: 24px;
			color: #22629e;
			padding: 4px 12px;
		}

		&-menu-item-accept.MuiMenuItem-root {
			font-size: 14px;
			font-weight: 600;
			line-height: 24px;
			color: green;
			padding: 4px 12px;
		}

		&-menu-item-reject.MuiMenuItem-root {
			font-size: 14px;
			font-weight: 600;
			line-height: 24px;
			color: red;
			padding: 4px 12px;
		}

		&-status.MuiChip-root {
			@extend %lean-form-text;
			font-weight: 600;
			width: 99px;
			height: 26px;
			border-radius: 4px;
			margin-right: 8px;
			//   padding-right: 8px;

			&.lean-room-Approved {
				background-color: rgba(45, 124, 49, 0.1);
				color: rgba(45, 124, 49, 1);
				text-transform: capitalize;
			}

			&.lean-room-Invited {
				background-color: rgba(240, 145, 12, 0.1);
				color: rgba(240, 145, 12, 1);
				text-transform: capitalize;
			}

			&.lean-room-Registered {
				background-color: rgba(235, 63, 83, 0.1);
				color: rgba(235, 63, 83, 1);
				text-transform: capitalize;
			}

			&.lean-room-Blocked {
				background-color: rgba(85, 96, 128, 0.1);
				color: rgba(85, 96, 128, 1);
				text-transform: capitalize;
			}

			&.lean-room-approved {
				background-color: rgba(45, 124, 49, 0.1);
				color: rgba(45, 124, 49, 1);
				text-transform: capitalize;
			}

			&.lean-room-invited {
				background-color: rgba(240, 145, 12, 0.1);
				color: rgba(240, 145, 12, 1);
				text-transform: capitalize;
			}

			&.lean-room-registered {
				background-color: rgba(235, 63, 83, 0.1);
				color: rgba(235, 63, 83, 1);
				text-transform: capitalize;
			}

			&.lean-room-blocked {
				background-color: rgba(85, 96, 128, 0.1);
				color: rgba(85, 96, 128, 1);
				text-transform: capitalize;
			}
		}
	}
}
