
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap');

$primaryTextColor: white;
$secondaryTextColor:#0E0F42;
$tabletBlue:#0E0F42;
$font:"Nanum Gothic", sans-serif;



.modalU {
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.RegisterTextField{

}
.supportHeader{
  display: flex;
  margin-top:10px;
  justify-content: space-between;
//   margin-bottom: 10px;
  width: 100%;
  // justify-self: flex-start;
  //   align-self: flex-start;
 
  & p{
    font-size: 24px;
    font-weight: bold;
    color: #030240;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left:40px;
  }
}

.LOSModalstopLabels{
    display: flex;
    justify-content: space-between;
}

.horizontalLine{
    width:760px;
    color:#556080;
    opacity: 0.4;
}

.inputFields{
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.LOScontentPaper7{
  background-color: $primaryTextColor;
  // height: 580px;
  width: 530px;
  border-radius: 10px;
  &:focus {outline:0 !important; }
  box-shadow: 0 2px 40px 0 rgba(7,6,67,0.11);
  display: flex;
  flex-direction: column;
  align-items: center;
//   justify-content: center;
  // text-align: center;
  font-family: $font;
}




.contentPaperSmaller{
  background-color: $primaryTextColor;
  height: 300px;
  width: 440px;
  border-radius: 8px;
  &:focus {outline:0 !important; }
  box-shadow: 0 2px 40px 0 rgba(7,6,67,0.11);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: $font;
}

.contentPaper::-moz-focus-inner {
    border: 0;
  }

  .modalButtons{
         display: flex;      
        width: 294px;
        justify-content: space-around;
  }

  .modalText{
    width: 425px;
    font-size: 15px;
    font-family: $font;
    font-weight: 400;
    color: #030240;
    line-height: 30px;
    margin-top: -8px;
    padding-bottom: 8px;
  }

  .modalHeading{
    font-size: 20px;
    font-weight: bold;
    color: #030240;
    font-family: $font;
    padding-top:3px ;
    padding-bottom:3px ;
  }

  .modalImage{
      max-width: 300px;
      max-height: 300px;
  }

  .contentPaper{
    z-index: 100000000;
    background-color: $primaryTextColor;
    height: 470px;
    width: 640px;
    border-radius: 8px;
    &:focus {outline:0 !important; }
    box-shadow: 0 2px 40px 0 rgba(7,6,67,0.11);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: $font;
  }