@import "../../assets/scss/base/base";
@import "../../assets/scss/abstracts/placeholders";
@import "../../assets/scss/abstracts/variables";
@import "../../assets/scss/base/typography";
@import "../../assets/scss/components/button";

$lean-primary-text-color-success: #2d7c31;
$lean-primary-text-color-failure: #eb3f54;
$lean-primary-text-color: #4d6aa5;

.lean-app-sidebar {
  &.MuiDrawer-paper {
    width: 270px;
    left: 70px;
    border: 0px;
    background: #fff;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.04);
    z-index: 1;
  }

  &-toolbar-spacing {
    margin-top: 72px;
  }

  &-list {
    &-item {
      padding: 4px 0;
    }
  }

  &-item {
    &-heading {
      @extend %lean-btn-text;
      font-size: 15px;
      color: #1a2f5a;
      // padding-top : 30px;
      padding: 8px 0;
      margin: 4px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      //   font-size: 16px;
      //   font-weight: bold;

      &-sub-heading {
        font-size: 10px;
        line-height: 13px;
        // padding-left: 0.91px;
        cursor: pointer;
      }
    }

    &-nav {
      padding: 7px 0;

      & > a {
        text-decoration: none;
      }
      &-btn.MuiButtonBase-root {
        @extend %lean-form-text;
        justify-content: left;
        width: 100%;
        border-radius: 30px;
        text-transform: none;
        color: #67717c;
        font-weight: 600;
        padding: 12px 12px;

        &.lean-nav-selected {
          background-color: rgba(0, 74, 143, 0.1);
          color: #004a8f;
        }

        &:hover {
          color: #004a8f;
        }
      }
    }
  }
}

.lean-app-sidebar-card {
  padding: 8px 10px;
  box-sizing: border-box;
  border: 1px solid #f3f7fa;
  border-radius: 4px;
  background-color: rgba(223, 232, 243, 0.41);
  color: #1a2f5a;
  text-align: justify;
  
  &.lean-app-sidebar-card-chat{
    background-color: white; 
    border:none 

    &-date{
      font-size: 1px;
    }
  }

  &:hover{ 
    border:none;
    background-color: #DDE7FB;
  }

  // font-weight: 750;

  & > .lean-text-header {
    @extend %lean-form-text;
    padding: 4px 0px;
  }

  & > .lean-text-sub-header {
    @extend %lean-form-limit-text;
    font-weight: 790;
    padding: 4px 0px;

    & > .lean-text-success {
      color: #2d7c31;
      font-weight: 750;

      & > .lean-text-success-dot {
        margin: 0px 4px 0px 0px;
        height: 6px;
        width: 6px;
        border-radius: 50%;
        background-color: #2d7c31;
      }
    }

    & > .lean-text-failure {
      color: #eb3f54;
      font-weight: 750;

      & > .lean-text-failure-dot {
        margin: 0px 4px 0px 0px;
        height: 6px;
        width: 6px;
        border-radius: 50%;
        background-color: #eb3f54;
      }
    }
  }
}

.sidebar-padding {
  padding: 10px 20px;
}

.sidebar-heading {
  color: #1a2f5a;
  font-size: 16px;
  font-weight: bold;
}

.selected {
  .sidebar-btn.MuiButtonBase-root {
    background-color: rgba(0, 74, 143, 0.1);
    color: #004a8f;
  }
}

.sidebar-btn.MuiButtonBase-root {
  justify-content: left;
  width: 100%;
  border-radius: 30px;
  text-transform: none;
  color: #67717c;

  &:hover {
  }
}

.sidebar-btn-icon {
  margin-right: 14px;
}

.MuiListItem-root.lean-visitors-chat-sidebar-app-list-items.MuiListItem-gutters.MuiListItem-alignItemsFlexStart{
    padding: 0px;
    display: flex;
    align-items: center;
    & >.list-item-avatar{
      position:center;
      margin-top: 0px;
      padding: 0px;
    }
}

.MuiListItemText-root.lean-sidebar-app-chat-text.MuiListItemText-multiline{
  & >.MuiTypography-root.MuiListItemText-primary.MuiTypography-body1, .MuiTypography-root.MuiListItemText-secondary.MuiTypography-body2 > span
  {
    @extend %lean-form-limit-text;
    // font-size:12px;
    color: #1A2F5A;
    // line-height: 14px;
    align-self:justify;
    // font-family: "Source Sans Pro";
    font-weight:600;
  }
  
}

.lean-sidebar-upcoming-appointments-empty-img{
  display: flex;
  justify-content: center;

}

.lean-sidebar-upcoming-appointments-empty-text{
  // display: flex;
  // justify-content: space-between;
  @extend %lean-form-text;
  text-align: center;
  color: #67717C;
}

.lean-sidebar-app-upcoming-appointments-empty-div{
   padding-top: 25px;
   padding-right: 50px;
   padding-left: 50px;
  //  padding-bottom: 25px;


  }

