@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap");

html,
body,
.root {
	font-size: 16px;
	font-family: "Open Sans", sans-serif;
}

.lean-card {
	border-radius: 10px;
	background-color: #ffffff;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.04);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
/* Firefox */
input[type="time"] {
	-moz-appearance: textfield;
}
input[type="time"]::-webkit-clear-button {
	display: none;
}
input[type="time"]::-ms-clear {
	display: none;
}
input[type="time"]:focus {
	// background-color: red;
}
input[type="time"]::-webkit-datetime-edit-hour-field:focus {
	background-color: rgb(26, 47, 90);
	color: white;
}
input[type="time"]::-webkit-datetime-edit-minute-field:focus {
	background-color: rgb(26, 47, 90);
	color: white;
}
/* Hide the cancel button */
::-webkit-search-cancel-button {
	-webkit-appearance: none;
}
/* Hide the magnifying glass */
::-webkit-search-results-button {
	-webkit-appearance: none;
}
/* Remove the rounded corners */
input[type="search"] {
	-webkit-appearance: none;
}
::-webkit-scrollbar {
	width: 4px;
	background-color: transparent;
}
::-webkit-scrollbar-track {
	// box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-thumb {
	background-color: darkgrey;
	// outline: 1px solid slategrey;
}

::-webkit-datetime-edit-ampm-field {
	display: none;
}
