.lean-section-text-header {
    @extend %lean-section-header-text;
    color: #1A2F5A;
}

.lean-section-text-header-small {
    @extend %lean-section-header-text-small;
    color: #1A2F5A;
}


.lean-text-header {
    @extend %lean-header-text;
    color: #1A2F5A;
}

.lean-text-content {
    @extend %lean-btn-text;
    font-weight : normal;
}
