// @import "../../../assets/scss/abstracts/variables";

// .lean-myProfile-modal-content{
//   // display: flex;
//   // height: 380px;
//   // width: 700px;
//   // border: 1px solid black;
//   // margin: 10px;
//   // align-items: center;
//   // justify-content: center;
  

//   & > .content-div{
//     display: flex;
//     flex :0 0 50%;
//     border: 1px solid black;
//     justify-content: flex-start;
    
//   }
//   & > .logo-div{
//     display: flex;
//     flex :0 0 50%;
//     border: 1px solid black;
//     justify-content: center;
   
//   }
// }

// .lean-myProfile-modal-text-root{
//   display: flex;
//   justify-content: flex-start;
//   padding: 0;
//   margin: 0;
//   // min-height: 40px;
//   // height: 100%;
//   // width: 100%;
//   // border: 1px solid black;
//   & > .line-header{
//     display: flex;
//     flex: 0 0 35%;
//     // border: 1px solid black; 
//     &.job-title {     
//       color: #1A2F5A;
//       font-family: $lean-font-family;
//       font-size: 15px;
//       line-height: 20px;
//       text-align: justify;
//     }
//   }
//   & > .line-text{
//     display: flex;
//     flex: 0 0 65%;
//     // border: 1px solid black;
//     &.job-description {      
//       color: #1A2F5A;
//       font-family: $lean-font-family;
//       font-size: 14px;
//       font-weight: 600;
//       line-height: 20px;
//       text-align: justify;
//     }
//   }  
// }

.lean-myprofile-title {     
  color: #1A2F5A;
  // font-family: $lean-font-family;
  font-size: 16px;
  line-height: 20px;
  text-align: justify;
}

.lean-myprofile-description {      
  color: #1A2F5A;
  // font-family: $lean-font-family;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  text-align: justify;
}

