@import "../../assets/scss/base/base";
@import "../../assets/scss/abstracts/placeholders";
@import "../../assets/scss/abstracts/variables";
@import "../../assets/scss/base/typography";


.lean-visitor-appointment-card
{
    // background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;

    & > .lean-visitor-appointment-card
    {
        &.lean-card{
            background-color: red;
            width:50%;
            height: 50%;
            padding: 16px 16px;
            box-sizing: border-box;
        }
    }
}
