%lean-btn-text {
  @extend %lean-text;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
}

.lean-btn-primary.MuiButton-root {
  @extend %lean-btn-text;
  border-radius: 2px;
  width: 170px;
  height: 44px;
  background: #FFFFFF;
  color: #004A8F;
  margin-right: 8px; 

  &.MuiButton-contained {
    color: #ffffff;
    background: linear-gradient(0deg, #002647 0%, #2e79b1 100%);
  }

}
