// @import "../../../assets/scss/base/base";
// @import "../../../assets/scss/abstracts/placeholders";
// @import "../../../assets/scss/abstracts/variables";
// @import "../../../assets/scss/base/typography";
// @import "../../../assets/scss/abstracts/variables";

.lean-my-profile-vm-app-visitor-appointment-info{
  width: 100%;
}

.lean-myprofile-title {     
  color: #1A2F5A;
  // font-family: $lean-font-family;
  font-size: 15px;
  line-height: 20px;
  text-align: justify;
}

.lean-myprofile-description {      
  color: #1A2F5A;
  // font-family: $lean-font-family;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-align: justify;
}

.lean-table-header-appointment-details-visitor{
  // @extend %lean-section-header-text-small
}

.my-profile-image-from-list-of-appointments{
  height:195px;
  width:230px;
}
