@import "../../assets/scss/base/base";
@import "../../assets/scss/abstracts/placeholders";
@import "../../assets/scss/abstracts/variables";
@import "../../assets/scss/base/typography";
@import "../../assets/scss/components/button";


.stepsandNextButtonfromOtpVerifyScreen{
    display:inline-flex;
    align-items:center;
    justify-content: center;
    padding-top: 24px;
    padding-bottom: 126.54px;
    // float:right;
}

.stepsSpanfromOtpVerifyScreen{
    padding: 16px;
}