// @import "../../../assets/scss/base/base";
// @import "../../../assets/scss/abstracts/placeholders";
// @import "../../../assets/scss/abstracts/variables";
// @import "../../../assets/scss/base/typography";

.lean-admin-db-areaMap-card{
  // display: flex;
  // border-left: 5px solid #004A8F;
  // border-right: 5px solid #004A8F;
  // border-radius: 5px;
  // padding-left: 15px;
  // max-height: 200px;
  width: 100%;
  height: 350px;
  background-color: white;
}

.lean-admin-db-areaMap-card-header-div1{
  display: flex;
  height: 60px;
  align-items: center;
  border-bottom: 1px solid #E4E4E4;
  padding: 0 20px;
  > .div1-header{
    display: flex;
    flex: 0 0 50%;
    // padding-left: 20px;
    > .header-img{  
      display: flex;
      justify-content: center;    
      height: 26px; 
      width: 26px;
      background-color: #034C91;
      border-radius: 18px;
    }
    > .header-text{
      display: flex;      
      flex-direction: column;
      padding-left: 12px;
      > .header {   
        font: 600 14px "Source Sans Pro";     
        color: #1A2F5A;        
        line-height: 18px;
        text-align: justify;
      }
      > .sub-header {
        color: #969696;
        font: 8px "Roboto";            
        line-height: 9px;
        text-align: justify;
      }
    }
  }
  > .div1-filter1{
    display: flex;
    flex: 0 0 47%;
    // border: 1px solid black; 
    
    flex-direction: column;
    > .header-img-div{
      display: flex;
      justify-content: center;
      > .header{
        color: #034C91;
        font: 600 20px "Source Sans Pro";      
        line-height: 25px;
        text-align: justify;
        // margin-right: 10px;
      }
    } 
    > .sub-header{
      display: flex;
      justify-content: center;
      color: #969696;
      font: 8px "Roboto";
      line-height: 9px;
      text-align: center;
    } 
  }
  > .div1-filter2{
    display: flex;
    flex: 0 0 3%;
    justify-content: flex-end;    
    // border: 1px solid black;
  }
}
.lean-admin-db-areaMap-card-header-div2{
  display: flex;
  height: 100%;
  width: 100%;
}

> .scroll-upcoming {
  height: calc(100% - 44px);
  width: calc(100% - 10px);
  overflow-y: auto;
  float: left;
  margin: 0 10px;
}


//--------------------
.lean-admin-db-columnChart-card-header-div1{
  display: flex;
  height: 60px;
  align-items: center;
  border-bottom: 1px solid #E4E4E4;
  padding: 0 20px;

  > .main-div{
    display: flex;
    flex: 0 0 97%;
    align-items: center;

    > .div1-header{
      display: flex;
      // flex: 0 0 40%;
      padding-right: 20px;
  
      > .header-img{  
        display: flex;
        justify-content: center;    
        height: 26px; 
        width: 26px;
        background-color: #034C91;
        border-radius: 18px;
      }
      > .header-text{
        display: flex;      
        flex-direction: column;
        padding-left: 12px;
        > .header {   
          font: 600 14px "Source Sans Pro";     
          color: #1A2F5A;        
          line-height: 18px;
          text-align: justify;
        }
        > .sub-header {
          color: #969696;
          font: 8px "Roboto";            
          line-height: 9px;
          text-align: justify;
        }
      }
    }
    > .div1-filter1{
      display: flex;
      // flex: 0 0 47%;
      padding: 2px 16px;
      border: 1px solid #979797;
      border-radius: 5px;
      
      flex-direction: column;
      > .header-img-div{
        display: flex;
        justify-content: center;
        > .header{
          color: #034C91;
          font: 600 20px "Source Sans Pro";      
          line-height: 25px;
          text-align: justify;
          // margin-right: 10px;
        }
      } 
      > .sub-header{
        display: flex;
        justify-content: center;
        color: #969696;
        font: 8px "Roboto";
        line-height: 9px;
        text-align: center;
      } 
    }
  }
  
  > .div1-filter2{
    display: flex;
    flex: 0 0 3%;
    justify-content: flex-end;
  }
}