@import "../../assets/scss/base/base";
@import "../../assets/scss/abstracts/placeholders";
@import "../../assets/scss/abstracts/variables";
@import "../../assets/scss/base/typography";
@import "../../assets/scss/components/button";


.lean-grid-item-Heading{
    padding-right: 20px;
    padding-left:20px ;
}

.lean-grid-item-SubHeading{
    padding: 12px;
}

.lean-grid-item-Custombutton{
    padding-top: 44px;
    display: flex;
    flex-basis: 100%;
    justify-content: center;

}

.acceptImage{
    padding-top: 40px;
}