.header-1{
    color:"#004A8F";
    font-weight:"100";
    line-height:"1px";
    padding-left:"8px";
}

// .exportXLSButton{
//     height: 42px;
//     width: 42px;
//     margin-top: 11px;
//     border: solid 1px #DDDFE8;
//     // border-color: ;
//     outline: none;
//     margin-left: 10px;
//     background-color: white;
//     float:right;
// }

.lean-search-text{
    background-color: white;
    height: "6px";
    width: "341px";
}