@import "../../assets/scss/base/base";
@import "../../assets/scss/abstracts/placeholders";
@import "../../assets/scss/abstracts/variables";
@import "../../assets/scss/base/typography";
@import "../../assets/scss/components/button";


.lean-form-element {
    padding : 4px 0;
}

.lean-grid-item {
    padding : 0 4px;
}

.fab-icon-add {
    padding: 100px;
}

.fab-label{
    padding : 4px;
}

.fab-bold{
    color: #1A2F5A;
    font-weight: bold;
    cursor: pointer;
}

.lean-fab-button{
   padding-top:20px;
   padding-bottom:20px;
   height: 18px;
   width: 280px;
   line-height: 18px;
   font-family: "Source Sans Pro";
   color: #1A2F5A;
   size: 14px;
   display: inline-flex;
}

.lean-deleteButton-item{
    padding-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lean-grid-item-visitor-email{
    padding-right: 31px;

    @media screen and (max-width: 600px) {
        padding: 0 4px;
    }
}

.MuiIconButton-root{
    // color: #1A2F5A !important;
}

.lean-reschedule-modal-text{
   font-family: "Source Sans Pro";
   color: #1A2F5A;
   size: 14px;
//    padding:100px
}