.lean-card-filters-ancestors-container{
    // display: flex;
    // align-items:center;
    // justify-content: ;    
    float: right;
    clear:both;
    display: inline;

}

.exportXLSButton{
    height: 42px;
    width: 42px;
    margin-top: 11px;
    border: solid 1px #DDDFE8;
    // border-color: ;
    outline: none;
    margin-left: 10px;
    background-color: white;
}