@import "../../assets/scss/base/base";
@import "../../assets/scss/abstracts/placeholders";
@import "../../assets/scss/abstracts/variables";
@import "../../assets/scss/base/typography";
@import "../../assets/scss/components/button";

.lean-calendar-image {
	display: inline-flex;
	align-items: center;
	// justify-content: ;
	& > .lean-calendar-image-text {
		padding-left: 8px;
	}
}

.lean-header-table-page {
	// padding: 5px 0;
	align-items: center;
	display: flex;
	// justify-content: space-between;
	width: 100%;
	justify-content: space-between;
	height: 64px;

	@media screen and (max-width: 600px) {
		height: unset;
		flex-wrap: wrap;
	}

	&.lean-header-page {
		@extend %lean-page-header-text;
	}

	&-item {
		&.lean-page-title {
		}
		&.lean-page-content {
			display: flex;
			justify-content: flex-end;

			// flex-basis: 80%;
			align-items: center;

			@media screen and (max-width: 600px) {
				// padding: 10px 0;
				margin-top: 16px;
				justify-content: flex-start;
				flex-wrap: wrap;
				width: 100%;
			}
			// flex-direction: row-reverse;
			// justify-content: flex-end;
			// display: flex;
			// align-self:flex-end;
		}

		&.lean-status-label {
			@extend %lean-form-text;
			justify-content: flex-end;
			margin-right: 12px;
			// align-items: center;
			// align-content: center;
			// margin: auto;
			// margin-top: 37px;

			@media screen and (max-width: 600px) {
				flex-basis: 10%;
				// width: 129px;
			}
		}

		&.lean-status-dropdown {
			margin-right: 10px;
			// height: 40px;
			width: 129px;

			@media screen and (max-width: 600px) {
				width: 100%;
				margin-right: 0px;
				min-width: 129px;
				max-width: 190px;
			}
		}

		&.lean-time-status-dropdown {
			margin-right: 10px;
			// height: 40px;
			width: 161px;

			@media screen and (max-width: 600px) {
				width: 100%;
				min-width: 161px;
				max-width: 190px;
				margin-right: 0px;
			}
		}

		&.lean-addAppointment-button.MuiButton-root {
			margin: 0;
			width: 177px;
			@media screen and (max-width: 600px) {
				margin: 8px 0;
			}
		}
	}
}

.lean-form-text-field.lean-table-filters {
	background-color: white;
}

.lean-header-table-page-container {
	display: flex;
	justify-content: center;
	width: 100%;
	align-items: center;

	&.lean-addAppointment-button {
		@media screen and (max-width: 600px) {
			margin: 12px 0;
		}
		& > .MuiButton-root {
			margin: 0;
			width: 177px;
		}
	}
}
