@import "../../assets/scss/base/base";
@import "../../assets/scss/abstracts/placeholders";
@import "../../assets/scss/abstracts/variables";
@import "../../assets/scss/base/typography";
@import "../../assets/scss/components/button";

.lean-add-appointment-modal.MuiDialog-paperScrollPaper {
	max-width: 864px;
	height: 847px;

	@media screen and (max-width: 600px) {
		height: 100%;
	}
}

.lean-particular-visitor.MuiDialog-paperScrollPaper {
	width: 705px;
	height: 500px;
	max-width: unset;

	> .MuiDialogTitle-root.lean-modal-header {
		flex: unset;
	}
	// height:847px;
}

.lean-reschedule-appointment-modal.MuiDialog-paperScrollPaper {
	max-width: 864px;
	height: 740px;

	@media screen and (max-width: 600px) {
		height: 100%;
	}
}

.lean-add-appointment-from-table-modal.MuiDialog-paperScrollPaper {
	max-width: 864px;
	height: 740px;
	@media screen and (max-width: 600px) {
		height: 100%;
	}
}

.lean-modal {
	box-sizing: border-box;
	&-header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		&-text {
			@extend %lean-header-text;
			color: rgb(26, 47, 90);

			@media screen and (max-width: 600px) {
				font-size: 25px;
				line-height: 32px;
				white-space: normal;
			}
		}

		&.lean-profile-visitor-name {
			@extend %lean-page-header-text;
		}

		&.MuiDialogTitle-root {
			// flex: 1;
			align-items: center;
			padding: 8px 24px;
		}

		&-right {
			display: flex;
			flex-direction: row;
			align-items: center;

			// & > .lean-start-chat-button-modal-header{
			//   background-color: transparent;
			//   border: none;
			// }
		}

		&-status.MuiChip-root {
			@extend %lean-form-text;
			// float: left;
			font-weight: 600;
			width: 99px;
			height: 26px;
			border-radius: 4px;
			margin-right: 8px;
			text-transform: capitalize;
			//   padding-right: 8px;

			&.lean-status {
				margin-left: 20px;
				text-transform: capitalize;

				@media screen and (max-width: 600px) {
					margin-left: 0px;
				}
			}

			&.lean-room-Upcoming {
				background-color: rgba(45, 124, 49, 0.1);
				color: rgba(45, 124, 49, 1);
			}

			&.lean-room-Ongoing {
				background-color: rgba(240, 145, 12, 0.1);
				color: rgba(240, 145, 12, 1);
			}

			// &.lean-room-Registered {
			//   background-color: rgba(240, 145, 12, 0.1);
			//   color: rgba(240, 145, 12, 1);
			// }

			&.lean-room-Registered {
				background-color: rgba(235, 63, 83, 0.1);
				color: rgba(235, 63, 83, 1);
			}

			&.lean-room-Cancelled {
				background-color: rgba(235, 63, 83, 0.1);
				color: rgba(235, 63, 83, 1);
			}

			&.lean-room-Completed {
				background-color: rgba(85, 96, 128, 0.1);
				color: rgba(85, 96, 128, 1);
			}

			&.lean-room-Approved {
				// float: left;
				background-color: rgba(45, 124, 49, 0.1);
				color: rgba(45, 124, 49, 1);
			}

			&.lean-room-Rejected {
				background-color: rgba(235, 63, 83, 0.1);
				color: rgba(235, 63, 83, 1);
			}
		}

		& > .lean-appointment-status-modal-header {
			float: left;
		}
	}

	&-main-content {
		text-align: center;
		position: relative; //HERE
	}

	&-item {
		padding: 8px 0;

		&.lean-submit-button-custom-date {
			text-align: center;
		}
	}

	&-icon {
		padding: 8px;
	}

	&-content {
		padding: 8px 0;
		&-header {
			color: #404040;
			font-family: "Source Sans Pro";
			font-size: 21px;
			font-weight: 600;
			line-height: 27px;
			padding: 0 0 8px 0;
		}

		&-message {
			color: #404040;
			padding: 8px 0 0 0;
		}
	}

	&-action {
		padding: 8px 0;

		@media screen and (max-width: 600px) {
			display: flex;
			justify-content: center;
		}
	}
}

.MuiDialog-root.lean-custom-date-modal {
	// background-color: red;
	& > .MuiDialog-container.MuiDialog-scrollPaper {
		&
			> .MuiPaper-root.MuiDialog-paper.MuiDialog-paperScrollPaper.MuiDialog-paperWidthXs.MuiDialog-paperFullWidth.MuiPaper-elevation24.MuiPaper-rounded {
			// height: 385px;
			// background-color: red;

			height: unset;
			max-height: unset;
			min-width: 80%;

			@media screen and (min-width: 992px) {
				height: 385px;
				width: 572px;
			}

			// width: calc(100% - 10px);
		}
	}
}

.lean-each-visitor-host-meetings-list {
	& > .MuiDialog-container.MuiDialog-scrollPaper {
		&
			> .MuiPaper-root.MuiDialog-paper.MuiDialog-paperScrollPaper.MuiDialog-paperWidthSm.MuiPaper-elevation24.MuiPaper-rounded {
			max-width: 760px;
			height: 670px;

			@media screen and (max-width: 600px) {
				height: 100%;
			}
		}
	}
}

.lean-particular-visitor {
	& > .MuiDialog-container.MuiDialog-scrollPaper {
		&
			> .MuiPaper-root.MuiDialog-paper.MuiDialog-paperScrollPaper.MuiDialog-paperWidthSm.MuiPaper-elevation24.MuiPaper-rounded {
			max-width: 1000px;
			// height: 670px;
		}

		// }
	}
}

.MuiButtonBase-root.MuiFab-root.lean-start-chat-button-modal-header.MuiFab-extended.MuiFab-sizeSmall {
	box-shadow: none;
	background-color: white;
	width: 140px;
	height: 42px;
	// radius:20px;
	border: 1.75px solid;
	color: #04254c;
	line-height: 0;
	text-transform: capitalize;

	@media screen and (max-width: 600px) {
		width: unset;
	}
	// padding: 10px;
}

// .modal-max-height{
//   max-height: 2500px ;
//   max-width: 1000px;
// }

.modal-max-height {
	// width:100%;
	// & >.MuiBackdrop-root{
	& > .MuiDialog-container.MuiDialog-scrollPaper {
		&
			> .MuiPaper-root.MuiDialog-paper.MuiDialog-paperScrollPaper.MuiDialog-paperWidthSm.MuiPaper-elevation24.MuiPaper-rounded {
			max-width: 600px;
			// height: 500px;
		}
		// }
	}
}

.lean-customized-modal-size {
	// width:100%;
	// & >.MuiBackdrop-root{
	& > .MuiDialog-container.MuiDialog-scrollPaper {
		&
			> .MuiPaper-root.MuiDialog-paper.MuiDialog-paperScrollPaper.MuiDialog-paperWidthXs.MuiDialog-paperFullWidth.MuiPaper-elevation24.MuiPaper-rounded {
			min-width: 80%;
			max-height: unset;
			@media screen and (min-width: 992px) {
				width: 660px;
				// min-height: 440px;
				height: 491px;
				min-width: unset;
			}

			// max-width: 660px;
			// max-width: 500px;
			// height: 491px;

			& > .MuiDialogContent-root {
				& > .MuiGrid-root.MuiGrid-container {
					padding-top: 30px;

					@media screen and (max-width: 600px) {
						padding-top: unset;
					}
				}
			}
		}
		// }
		&
			> .MuiPaper-root.MuiDialog-paper.MuiDialog-paperScrollPaper.MuiDialog-paperWidthSm.MuiDialog-paperFullWidth.MuiPaper-elevation24.MuiPaper-rounded {
			min-width: 80%;
			max-height: unset;
			@media screen and (min-width: 992px) {
				width: 660px;
				// min-height: 440px;
				height: 491px;
				min-width: unset;
			}

			// max-width: 660px;
			// max-width: 500px;
			// height: 491px;
			& > .MuiDialogContent-root {
				& > .MuiGrid-root.MuiGrid-container {
					padding-top: 30px;

					@media screen and (max-width: 600px) {
						padding-top: unset;
					}
				}
			}
		}
	}
}

.lean-header-text.lean-profile-visitor-name {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
