@import "../../assets/scss/base/base";
@import "../../assets/scss/abstracts/placeholders";
@import "../../assets/scss/abstracts/variables";
@import "../../assets/scss/base/typography";
@import "../../assets/scss/components/button";

.lean-sidebar {
	&-drawer {
	}

	&-paper {
		&.MuiDrawer-paper {
			background: #004a8f;
			box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.04);
			border: 0;
			color: rgba(255, 255, 255, 0.8);
			z-index: 2;
			overflow: hidden;
		}
	}

	&-list {
		&-mob {
			position: absolute;
			top: 70px;
			height: calc(100% - 70px);
			width: 100%;
			visibility: visible;
			transform: translateX(0px);
			transition: transform 0.5s ease-in-out;

			&-hide {
				transform: translateX(-300px);
			}
		}

		&-app-mob {
			// visibility: hidden;
			position: absolute;
			top: 70px;
			height: calc(100% - 70px);
			width: 100%;
			transform: translateX(300px);
			transition: transform 0.5s ease-in-out;

			&-show {
				visibility: visible;
				transform: translateX(0px);
			}
		}

		&-item {
			&.MuiListItem-root {
				// padding: 16px 24px;
				padding: 1rem 1.5rem;

				& ~ .MuiListItemSecondaryAction-root {
					& > i {
						font-size: 24px;
						line-height: inherit;
					}
				}

				&.lean-sidebar-list-item-active {
					color: rgba(255, 255, 255, 1);

					& > .lean-sidebar-list-item-icon {
						color: rgba(255, 255, 255, 1);
					}

					@media screen and (min-width: 600px) {
						&:before {
							content: "";
							position: absolute;
							display: inline-block;
							left: 0;
							// width: 4px;        height: 32px;
							width: 0.25rem;
							height: 2rem;
							background: #fff;
							// border-radius: 0 10px 10px 0;
							border-radius: 0 0.625rem 0.625rem 0;
						}
						&:after {
							content: "";
							display: inline-block;
							position: absolute;
							right: 0;
							width: 0;
							height: 0;
							// border-top: 8px solid transparent;
							// border-bottom: 8px solid transparent;
							// border-right: 8px solid rgba(255, 255, 255, 0.883);
							border-top: 0.5rem solid transparent;
							border-bottom: 0.5rem solid transparent;
							border-right: 0.5rem solid rgba(255, 255, 255, 0.883);
						}
					}

					& ~ .MuiListItemSecondaryAction-root {
						& > i {
							font-size: 24px;
							line-height: inherit;
							color: white;
						}
					}
				}

				&:hover {
					background: none;
					color: rgba(255, 255, 255, 1);
					& > .lean-sidebar-list-item-icon {
						color: rgba(255, 255, 255, 1);
					}

					@media screen and (min-width: 600px) {
						&:before {
							content: "";
							position: absolute;
							display: inline-block;
							left: 0;
							// width: 4px;       height: 32px;
							width: 0.25rem;
							height: 2rem;
							background: #fff;
							// border-radius: 0 10px 10px 0;
							border-radius: 0 0.625rem 0.625rem 0;
						}
					}
				}
			}

			&-icon {
				&.MuiListItemIcon-root {
					// min-width: 57px;
					color: rgba(255, 255, 255, 0.8);
					font-size: 24px;
					min-width: 3.5625rem;

					&.lean-sidebar-list-item-back {
						color: rgba(255, 255, 255, 0.6);
					}

					& > svg {
						// fill: rgba(255, 255, 255, 0.8);
					}
				}
			}

			

			&-text {
				&.MuiListItemText-root {


					&.lean-sidebar-list-item-back {
						& > span {
							color: rgba(255, 255, 255, 0.6);
						}
					}

					& > span {
						@extend %lean-btn-text;
					}
				}



				&-item {
					@media screen and (max-width: 600px) {
						display: flex;
						justify-content: space-between;

						& > i {
							font-size: 20px;
						}
					}
				}
			}
		}
	}

	&-powered {
		// padding: 2px 0;
		padding: 0.125rem 0;
		position: absolute;
		// bottom: 40px;
		bottom: 2.5rem;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		& > &-subtext {
			@extend %lean-text;
			font-size: 12px;
			color: rgba(255, 255, 255, 0.3);
		}

		& > &-logo {
			@extend %lean-text;
			color: rgba(255, 255, 255, 0.6);
		}
	}
}

.lean-appbar {
	&.MuiAppBar-root {
		z-index: 3;
		height: 70px;
		background: rgba(255, 255, 255, 1);
		// box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.04);
		box-shadow: 0 0.625rem 0.625rem 0 rgba(0, 0, 0, 0.04);
		color: #556080;
	}

	&-profile {
		&-list {
			background: white;
			// width: 240px;
			width: 15rem;
			&.MuiList-root {
				& > a {
					text-decoration: none;
				}
				& > .MuiListItem-root > .MuiListItemText-root > *,
				& > a > .MuiListItem-root > .MuiListItemText-root > * {
					@extend %lean-form-text;
					color: #1a2f5a;
					font-weight: 600;
					text-decoration: none;
				}
			}
		}
	}

	&-toolbar {
		&.MuiToolbar-root {
			padding: 0;
			height: 100%;
		}

		&-drawer-icon {
			&.MuiIconButton-root {
				margin: 0;
				// padding: 24px;
				padding: 1.5rem;

				&:hover {
					background: none;
				}
			}
		}

		&-logo {
			display: inline-flex;
			height: 100%;

			&-mob {
				max-width: 140px;

				& > img {
					height: 50px;
					max-width: 100%;
				}
			}
			// cursor: pointer;
		}

		&-title {
			flex-grow: 1;
		}

		&-right {
			height: 100%;
			display: inline-flex;
		}

		&-list {
			&.MuiList-root {
				display: inline-flex;
				padding: 0;

				& > *,
				& > a > * {
					display: inline-flex;
					height: 100%;
					// min-width: 80px;
					min-width: 5rem;
					width: auto;
					justify-content: center;
					border-right: 1px solid rgba(85, 96, 128, 0.14);
				}

				& > a {
					text-decoration: none;
					border-right: none;
				}

				& > *,
				& > * {
					display: inline-flex;
					height: 100%;
					// min-width: 80px;
					min-width: 5rem;
					width: auto;
					justify-content: center;
					border-right: 1px solid rgba(85, 96, 128, 0.14);
				}

				@media (max-width: 600px) {
					& > li > .MuiListItem-button {
						padding-right: 28px;
					}
				}
			}

			&-user {
				&.MuiListItemText-root > span {
					@extend %lean-section-header-text-small;
					padding-right: 4px;
				}
			}
		}
	}
}
