@import "../../assets/scss/base/base";
@import "../../assets/scss/abstracts/placeholders";
@import "../../assets/scss/abstracts/variables";
@import "../../assets/scss/base/typography";

.lean-book-table {
  padding: 24px;
  position: relative;
  & > .lean-grid-item {
    padding: 8px 0;
  }
}
