@import "../../assets/scss/base/base";
@import "../../assets/scss/abstracts/placeholders";
@import "../../assets/scss/abstracts/variables";
@import "../../assets/scss/base/typography";
@import "../../assets/scss/components/button";

.lean-sidebar {
  &-drawer {
  }

  &-paper {
    &.MuiDrawer-paper {
      background: #004a8f;
      box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.04);
      border: 0;
      color: rgba(255, 255, 255, 0.8);
      z-index: 2;
      overflow: hidden;
    }
  }

  &-list {
    &-item {
      &.MuiListItem-root {
        // padding: 16px 24px;
        padding: 1rem 1.5rem;

        &.lean-sidebar-list-item-active {
          color: rgba(255, 255, 255, 1);

          & > .lean-sidebar-list-item-icon  {
            color: rgba(255, 255, 255, 1);
          }

          &:before {
            content: "";
            position: absolute;
            display: inline-block;
            left: 0;
            // width: 4px;        height: 32px;
            width: 0.25rem;        height: 2rem;
            background: #fff;
            // border-radius: 0 10px 10px 0;
            border-radius: 0 0.625rem 0.625rem 0;
          }

          &:after {
            content: "";
            display: inline-block;
            position: absolute;
            right: 0;
            width: 0;
            height: 0;
            // border-top: 8px solid transparent;
            // border-bottom: 8px solid transparent;
            // border-right: 8px solid rgba(255, 255, 255, 0.883);
            border-top: 0.5rem solid transparent;
            border-bottom: 0.5rem solid transparent;
            border-right: 0.5rem solid rgba(255, 255, 255, 0.883);
          }
        }

        &:hover {
          background: none;
          color: rgba(255, 255, 255, 1);
          & > .lean-sidebar-list-item-icon {
            color: rgba(255, 255, 255, 1);
          }
          &:before {
            content: "";
            position: absolute;
            display: inline-block;
            left: 0;
            // width: 4px;       height: 32px;
            width: 0.25rem;       height: 2rem;
            background: #fff;
            // border-radius: 0 10px 10px 0;
            border-radius: 0 0.625rem 0.625rem 0;
          }
        }
      }

      &-icon {
        &.MuiListItemIcon-root {
          // min-width: 57px;
          min-width: 3.5625rem;
          color: rgba(255, 255, 255, 0.8);
          font-size: 24px;

         
        }
      }

      &-text {
        &.MuiListItemText-root > span {
          @extend %lean-btn-text;
        }
      }
    }
  }

  &-powered {
    // padding: 2px 0;
    padding: 0.125rem 0;
    position: absolute;
    // bottom: 40px;
    bottom: 2.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & > &-subtext {
      @extend %lean-text;
      font-size:12px;
      color: rgba(255, 255, 255, 0.3);
    }

    & > &-logo {
      @extend %lean-text;
      color: rgba(255, 255, 255, 0.6);
    }
  }
}

.lean-appbar {
  &.MuiAppBar-root {
    z-index: 3;
    height: 70px;
    background: rgba(255, 255, 255, 1);
    // box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.04);
    box-shadow: 0 0.625rem 0.625rem 0 rgba(0, 0, 0, 0.04);
    color: #556080;
  }

  &-profile {
    &-list {
      background: white;
      // width: 240px;
      width: 15rem;
      &.MuiList-root {

        & > a {
          text-decoration: none;
        }
        &  > .MuiListItem-root > .MuiListItemText-root > *, &  > a > .MuiListItem-root > .MuiListItemText-root > * {
          @extend %lean-form-text;
          color: #1a2f5a;
          font-weight: 600;
          text-decoration: none;
        }
      }
    }
  }

  &-toolbar {
    &.MuiToolbar-root {
      padding: 0;
      height: 100%;
    }

    &-drawer-icon {
      &.MuiIconButton-root {
        margin: 0;
        // padding: 24px;
        padding: 1.5rem;

        &:hover {
          background: none;
        }
      }
    }

    &-logo {
      display: inline-flex;
      height: 100%;
      // cursor: pointer;
    }

    &-title {
      flex-grow: 1;
    }

    &-right {
      height: 100%;
      display: inline-flex;
    }

    &-list {
      &.MuiList-root {
        display: inline-flex;
        padding: 0;

        

        & > *, & > a > * {

          display: inline-flex;
          height: 100%;
          // min-width: 80px;
          min-width: 5rem;
          width: auto;
          justify-content: center;
          border-right: 1px solid rgba(85, 96, 128, 0.14);
        }

        & > a {
          text-decoration: none;
          border-right: none;
        }
      }

      &-user {
        &.MuiListItemText-root > span {
          @extend %lean-section-header-text-small;
        }
      }
    }
  }
}
