
@import
'../../assets/scss/abstracts/variables';


.lean-preloader-logoSize{
  height: 55px;	
  width: 350px;    
  // border: 1px solid red;       
  margin-bottom: 20px;
}

.lean-preloader-gridItem{
  // display: flex;
  // align-items: center;
  // justify-content: center;
  max-width: 350px;
}

.lean-preloader-flexDiv-bar{
  display: flex;
  justify-content: center;
  height: 10px;
  // width: 100%;
  // border: 1px solid black;
}


/* 
This is the actual bar with stripes
*/	
.lean-preloader-spanAnimated{
  position: absolute;
  // margin-top:5vh !important;
  display:inline-block;
  
  height: 10px !important;
  width: 250px;

	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	-ms-border-radius:20px;
	border-radius:20px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
	
	background-image:
    linear-gradient(
      -45deg,	$lean-preloader-bg-stripe  25%,
      transparent 25%,   transparent 50%,
    $lean-preloader-bg-stripe 50%,$lean-preloader-bg-stripe  75%,transparent 75%,transparent 
    );

	
	background-size:50px 50px;
	animation:move 2s linear infinite;
	border-radius:20px;
	overflow: hidden;
}

 .lean-preloader-spanStatic {
	display:inline-block;	
  width: 250px;
  height: 10px !important;
  
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	-ms-border-radius:20px;
	border-radius:20px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
  box-sizing:border-box;
  position: absolute;
	
	background-image:
  linear-gradient(270deg, $lean-preloader-bg-gradient-1 0%, $lean-preloader-bg-gradient-2 100%) !important;
	
	border-radius:20px;
	overflow: hidden;	
}


@keyframes move{
  0% {
  	background-position: 0 0;
  }
  100% {
  	background-position: 50px 50px;
  }
}	



