@import "../../assets/scss/abstracts/placeholders";
@import "../../assets/scss/abstracts/variables";

.lean-loaders {
	&-full-page {
		width: 100%;
		min-height: calc(100vh - 138px - 32px);
		// height: 100%;
		z-index: 10000;
		background-color: #e7eced;

		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		// height: 100%;

		& > &-loading {
			@extend %lean-section-header-text-small;
			color: #1a2f5a;
			font-weight: 600;
			margin-top: 28px;
		}

		&.lean-modal-loader {
			position: absolute;
			min-height: 100%;
			background-color: #ffffff;
		}

		&.custom.size {
			min-height: 95%;
			width: 95%;
		}
	}

	&-full-section {
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 9999;
		background-color: #e7eced;
		opacity: 0.9;
		display: flex;
		align-items: center;
		flex-direction: column;
		padding-top: 64px;

		& > &-loading {
			@extend %lean-section-header-text-small;
			color: #1a2f5a;
			font-weight: 600;
			margin-top: 28px;
			// position: ;
		}
	}
}
