@import './notiVariables';

.lean-notification-card{
  border-radius: 10px;
  // border: 1px solid bisque;  
  // height: 420px;	
  // width: 407px;
  max-height: 495px;	
  // width: 100%;  
  // width: 426px;
  // overflow-y: auto;
  // position: relative;

  & > .div-viewAll{   
    display: flex; 
    height: 48px;    
    // width: 405px;    
    width: 405px;   
    background-color: #ccdbe9; 
    justify-content: center;
    align-items: center;
    // position: absolute;
    
    

    & > .text {      
      color: $lean-notification-text;
      font-family: $lean-font-family;
      font-size: 14px;
      font-weight: 600;     
      cursor: pointer;       
    }
  }
}

.lean-notification-box-root{
  display: flex;  
  height: 85px;
  width: 400px;
  flex-direction: column;
  margin: 2px;
  border-bottom: 1px solid #f1f1f1;
  &.cursor{
    cursor: pointer;
  }
  // border: 1px solid black;  

 & > .lean-notification-box-flex{
    display: flex; 
    width: 100%;
    height: 100%;
    // border: 1px solid red; 
    // background-color: #BC4299;
    // background-color: #23BCA5;    
  
    & > .div-1{
      display: flex;    
      // flex: 1.3;
      flex: 0 0 18%;
      // border: 1px solid black; 
  
      & > .div-logo{    
        display: flex;  
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
  
        & > .logo-visitor{      
          border-radius: 50%;
          height: 55px;	
          width: 55px;	          
        }
        & > .logo-bell{      
          border-radius: 50%;
          height: 55px;	
          width: 55px;	          	
          background-color: #eff0f3;
        }
      }
    }
    & > .div-3{
      display: flex;    
      // flex: 0.7;
      flex: 0 0 17%;
      align-items: center;

      & > .span-time-2{
        // position: relative;
        // left: 182px;   
        // top: 5px;       
        color: $lean-notification-text;                                   
        font-size: 10px;
      }
    }
    & > .div-2{
      display: flex;    
      // flex: 4;
      flex: 0 0 65%;
      flex-direction: column;  
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;    
  
      & > .message{
        display: flex; 
        flex: 1;             
        align-items: flex-end;
        position: relative;
        bottom: 6px;        
  
        & > .message-content {        
          color: $lean-notification-text;
          font-family: $lean-font-family;
          font-size: 14px;
          font-weight: 600;                  
        }
      }
  
      & > .input{
        display: flex;    
        flex: 1;       
        align-items: flex-start;        
        color: $lean-notification-text;   
        font-family: $lean-font-family;  
  
        & > .input-button{
          height: 25.92px;
          width: 70px;
          border-radius: 4px;
          background-color: $lean-notification-btn-bg-yes;        
        }
  
        & > .input-button-2{
          height: 25.92px;
          width: 70px;
          opacity: 0.8;
          border-radius: 4px;	          
          background-color: $lean-notification-btn-bg-no;
          position: relative;       
          left: 6px;        
        }
  
        & > .span-time{
          position: relative;
          left: 140px;   
          top: 12px;                                           
          font-size: 10px;
        }
        & > .span-time-2{
          position: relative;
          left: 182px;   
          top: 5px;                                       
          font-size: 10px;
        }
        & > .span-time-3{
          position: relative;
          left: 28px;   
          top: 18px;                                       
          font-size: 10px;
        }
        & > .span-date{       
          position: relative; 
          top: 5px;                  
          font-size: 10px;
        }
  
        & > .button-1-text {  
          font-family: $lean-font-family;      
          color: $lean-notification-btn-text-yes;                  
          font-size: 12px;
          font-weight: 600;        
          text-align: center;
          padding: 3px;
          cursor: pointer;
        }
        & > .button-2-text {          
          font-family: $lean-font-family;    
          color: $lean-notification-btn-text-no;          
          font-size: 12px;
          font-weight: 600;        
          text-align: center;
          padding: 3px;
          background-color: lightgray;
          cursor: pointer;
        } 
        & > .greyedOut{
          // height: 25.92px;
          // width: 70px;
          // border-radius: 4px;
          font-family: $lean-font-family;
          font-size: 12px;
          color: white;
          border-radius: 5px;
          padding: 3px;
          background-color: gray;
        } 
        &>.greyedOut-message{
          color: #556080;
          font-family: $lean-font-family;
          font-size: 12px;
          padding: 3px;
          font-weight: 600;
        }     
      }
    }
  }
  
}