@import "../../../assets/scss/base/base";
@import "../../../assets/scss/abstracts/placeholders";
@import "../../../assets/scss/abstracts/variables";
@import "../../../assets/scss/base/typography";
@import "../../../assets/scss/abstracts/variables";

// .lean-my-profile-vm-app-visitor-appointment-info{
//   width: 100%;
// }

.lean-myprofile-title {     
  color: #1A2F5A;
  font-family: $lean-font-family;
  font-size: 15px;
  line-height: 20px;
  text-align: justify;
}

.lean-myprofile-description {      
  color: #1A2F5A;
  font-family: $lean-font-family;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-align: justify;
}

.lean-table-header-appointment-details-visitor{
  @extend %lean-section-header-text-small
}

.my-profile-image-from-part-visitor-info-modal{
  height:185px;
  width:200px;
}

.lean-my-profile-vm-particular-visitor-info{
  width: 100%;
}

.approve-reject-visitor-info-buttons{
  display:flex;
  justify-content: space-evenly;
  padding-top: 100px;

}

.MuiButtonBase-root.MuiButton-root.MuiButton-contained.lean-btn-primary.visitor-rejected-button{
  background: grey;
  color: white;
  padding:10px;
}

.MuiButtonBase-root.MuiButton-root.MuiButton-contained.lean-btn-primary.visitor-approval-button{
  background: green;
  color: white;
}