.HSCOuterContainer{
    display: flex;
    width: 100%;
    // background-color: rgba(80, 80, 223, 0.192);
    justify-content: space-between;    
    padding-top: 20px;
    padding-bottom: 10px;
}

.HSCOuterContainer2{
    display: flex;
    width: 100%;
    // background-color: rgba(80, 80, 223, 0.192);
    justify-content: space-evenly;    
    padding-top: 20px;
    padding-bottom: 20px;
}