$icomoon-font-family: "lean-icons" !default;
$icomoon-font-path: "fonts" !default;

$lean-icon-ac-large: "\e937";
$lean-icon-blinds: "\e938";
$lean-icon-googlecalender: "\e902";
$lean-icon-heater: "\e939";
$lean-icon-hospitality: "\e93a";
$lean-icon-light: "\e93b";
$lean-icon-my-favourites-side: "\e93c";
$lean-icon-phone-system: "\e93d";
$lean-icon-pointer-laser: "\e93e";
$lean-icon-projector-screen: "\e93f";
$lean-icon-video-conference: "\e940";
$lean-icon-view-map-path1: "\e941";
$lean-icon-view-map-path2: "\e942";
$lean-icon-writing-pad-path1: "\e944";
$lean-icon-writing-pad-path2: "\e945";
$lean-icon-writing-pad-path3: "\e946";
$lean-icon-writing-pad-path4: "\e947";
$lean-icon-writing-pad-path5: "\e948";
$lean-icon-writing-pad-path6: "\e949";
$lean-icon-writing-pad-path7: "\e94a";
$lean-icon-writing-pad-path8: "\e94b";
$lean-icon-writing-pad-path9: "\e94c";
$lean-icon-writing-pad-path10: "\e94d";
$lean-icon-writing-pad-path11: "\e94e";
$lean-icon-writing-pad-path12: "\e94f";
$lean-icon-dashboard-send-message: "\e943";
$lean-icon-dashboard-close: "\e950";
$lean-icon-dashboard-open: "\e951";
$lean-icon-dashboard-delete-filled: "\e952";
$lean-icon-dashboard-delete: "\e953";
$lean-icon-Admin-Dashboard-1: "\e954";
$lean-icon-dashboard-seat: "\e955";
$lean-icon-dashboard-clock: "\e956";
$lean-icon-dashboard-trophy: "\e957";
$lean-icon-dashboard-down-arrow: "\e958";
$lean-icon-dashboard-up-arrow: "\e959";
$lean-icon-dashboard-meeting: "\e95a";
$lean-icon-dashboard-contact: "\e95b";
$lean-icon-arrow_drop_down-copy1: "\e964";
$lean-icon-logout: "\e965";
$lean-icon-person: "\e966";
$lean-icon-support-feedback: "\e967";
$lean-icon-help-faq: "\e968";
$lean-icon-radio-btn: "\e969";
$lean-icon-vm-user: "\e96a";
$lean-icon-chat: "\e96b";
$lean-icon-radio-btn-checked: "\e96c";
$lean-icon-ac: "\e903";
$lean-icon-arrow_drop_down-copy: "\e904";
$lean-icon-arrow_drop_down: "\e905";
$lean-icon-arrow_drop_up: "\e906";
$lean-icon-book-a-room: "\e907";
$lean-icon-cancel: "\e908";
$lean-icon-capacity: "\e909";
$lean-icon-check: "\e90a";
$lean-icon-check_box: "\e90b";
$lean-icon-chevron_left: "\e90c";
$lean-icon-chevron_right: "\e90d";
$lean-icon-close: "\e90e";
$lean-icon-delete: "\e900";
$lean-icon-desk-booking: "\e90f";
$lean-icon-error-outline: "\e910";
$lean-icon-error: "\e911";
$lean-icon-expand_less: "\e912";
$lean-icon-expand_more: "\e913";
$lean-icon-fav: "\e914";
$lean-icon-floor: "\e915";
$lean-icon-grid: "\e916";
$lean-icon-home: "\e917";
$lean-icon-list: "\e901";
$lean-icon-map: "\e918";
$lean-icon-map1: "\e919";
$lean-icon-menu: "\e91a";
$lean-icon-more: "\e91b";
$lean-icon-my-bookings: "\e91c";
$lean-icon-my-favourites: "\e91d";
$lean-icon-navigation: "\e91e";
$lean-icon-notification: "\e91f";
$lean-icon-powered-by: "\e920";
$lean-icon-projector: "\e921";
$lean-icon-ancestor: "\e922";
$lean-icon-bell: "\e923";
$lean-icon-refresh: "\e924";
$lean-icon-room-booking: "\e925";
$lean-icon-screen: "\e926";
$lean-icon-seat-copy: "\e927";
$lean-icon-seat: "\e928";
$lean-icon-security-camera: "\e929";
$lean-icon-settings: "\e92a";
$lean-icon-shape: "\e92b";
$lean-icon-timer: "\e92c";
$lean-icon-tv: "\e92d";
$lean-icon-un-check: "\e92e";
$lean-icon-visitor-management: "\e930";
$lean-icon-warning: "\e931";
$lean-icon-way-finder: "\e932";
$lean-icon-wheel-chair: "\e933";
$lean-icon-wifi: "\e934";
$lean-icon-zone: "\e935";
$lean-icon-desk-booking-1: "\e936";

