@import "iconVariables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?44wknm');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?44wknm#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?44wknm') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?44wknm') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?44wknm##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="lean-icon-"], [class*=" lean-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.lean-icon-ac-large {
  &:before {
    content: $lean-icon-ac-large; 
  }
}
.lean-icon-blinds {
  &:before {
    content: $lean-icon-blinds; 
  }
}
.lean-icon-googlecalender {
  &:before {
    content: $lean-icon-googlecalender; 
  }
}
.lean-icon-heater {
  &:before {
    content: $lean-icon-heater; 
  }
}
.lean-icon-hospitality {
  &:before {
    content: $lean-icon-hospitality; 
  }
}
.lean-icon-light {
  &:before {
    content: $lean-icon-light; 
  }
}
.lean-icon-my-favourites-side {
  &:before {
    content: $lean-icon-my-favourites-side; 
  }
}
.lean-icon-phone-system {
  &:before {
    content: $lean-icon-phone-system; 
  }
}
.lean-icon-pointer-laser {
  &:before {
    content: $lean-icon-pointer-laser; 
  }
}
.lean-icon-projector-screen {
  &:before {
    content: $lean-icon-projector-screen; 
  }
}
.lean-icon-video-conference {
  &:before {
    content: $lean-icon-video-conference; 
  }
}
.lean-icon-view-map .path1 {
  &:before {
    content: $lean-icon-view-map-path1;  
    color: rgb(0, 70, 147);  
    opacity: 0.3;
  }
}
.lean-icon-view-map .path2 {
  &:before {
    content: $lean-icon-view-map-path2;  
    margin-left: -1em;  
    color: rgb(0, 72, 145);
  }
}
.lean-icon-writing-pad .path1 {
  &:before {
    content: $lean-icon-writing-pad-path1;  
    color: rgb(3, 1, 4);
  }
}
.lean-icon-writing-pad .path2 {
  &:before {
    content: $lean-icon-writing-pad-path2;  
    margin-left: -0.7890625em;  
    color: rgb(3, 1, 4);
  }
}
.lean-icon-writing-pad .path3 {
  &:before {
    content: $lean-icon-writing-pad-path3;  
    margin-left: -0.7890625em;  
    color: rgb(3, 1, 4);
  }
}
.lean-icon-writing-pad .path4 {
  &:before {
    content: $lean-icon-writing-pad-path4;  
    margin-left: -0.7890625em;  
    color: rgb(3, 1, 4);
  }
}
.lean-icon-writing-pad .path5 {
  &:before {
    content: $lean-icon-writing-pad-path5;  
    margin-left: -0.7890625em;  
    color: rgb(3, 1, 4);
  }
}
.lean-icon-writing-pad .path6 {
  &:before {
    content: $lean-icon-writing-pad-path6;  
    margin-left: -0.7890625em;  
    color: rgb(0, 0, 0);
  }
}
.lean-icon-writing-pad .path7 {
  &:before {
    content: $lean-icon-writing-pad-path7;  
    margin-left: -0.7890625em;  
    color: rgb(0, 0, 0);
  }
}
.lean-icon-writing-pad .path8 {
  &:before {
    content: $lean-icon-writing-pad-path8;  
    margin-left: -0.7890625em;  
    color: rgb(255, 255, 255);
  }
}
.lean-icon-writing-pad .path9 {
  &:before {
    content: $lean-icon-writing-pad-path9;  
    margin-left: -0.7890625em;  
    color: rgb(0, 0, 0);
  }
}
.lean-icon-writing-pad .path10 {
  &:before {
    content: $lean-icon-writing-pad-path10;  
    margin-left: -0.7890625em;  
    color: rgb(255, 255, 255);
  }
}
.lean-icon-writing-pad .path11 {
  &:before {
    content: $lean-icon-writing-pad-path11;  
    margin-left: -0.7890625em;  
    color: rgb(0, 0, 0);
  }
}
.lean-icon-writing-pad .path12 {
  &:before {
    content: $lean-icon-writing-pad-path12;  
    margin-left: -0.7890625em;  
    color: rgb(255, 255, 255);
  }
}
.lean-icon-dashboard-send-message {
  &:before {
    content: $lean-icon-dashboard-send-message; 
  }
}
.lean-icon-dashboard-close {
  &:before {
    content: $lean-icon-dashboard-close; 
  }
}
.lean-icon-dashboard-open {
  &:before {
    content: $lean-icon-dashboard-open; 
  }
}
.lean-icon-dashboard-delete-filled {
  &:before {
    content: $lean-icon-dashboard-delete-filled; 
  }
}
.lean-icon-dashboard-delete {
  &:before {
    content: $lean-icon-dashboard-delete; 
  }
}
.lean-icon-Admin-Dashboard-1 {
  &:before {
    content: $lean-icon-Admin-Dashboard-1; 
  }
}
.lean-icon-dashboard-seat {
  &:before {
    content: $lean-icon-dashboard-seat; 
  }
}
.lean-icon-dashboard-clock {
  &:before {
    content: $lean-icon-dashboard-clock; 
  }
}
.lean-icon-dashboard-trophy {
  &:before {
    content: $lean-icon-dashboard-trophy; 
  }
}
.lean-icon-dashboard-down-arrow {
  &:before {
    content: $lean-icon-dashboard-down-arrow; 
  }
}
.lean-icon-dashboard-up-arrow {
  &:before {
    content: $lean-icon-dashboard-up-arrow; 
  }
}
.lean-icon-dashboard-meeting {
  &:before {
    content: $lean-icon-dashboard-meeting; 
  }
}
.lean-icon-dashboard-contact {
  &:before {
    content: $lean-icon-dashboard-contact; 
  }
}
.lean-icon-arrow_drop_down-copy1 {
  &:before {
    content: $lean-icon-arrow_drop_down-copy1; 
  }
}
.lean-icon-logout {
  &:before {
    content: $lean-icon-logout; 
  }
}
.lean-icon-person {
  &:before {
    content: $lean-icon-person; 
  }
}
.lean-icon-support-feedback {
  &:before {
    content: $lean-icon-support-feedback; 
  }
}
.lean-icon-help-faq {
  &:before {
    content: $lean-icon-help-faq; 
  }
}
.lean-icon-radio-btn {
  &:before {
    content: $lean-icon-radio-btn; 
  }
}
.lean-icon-vm-user {
  &:before {
    content: $lean-icon-vm-user; 
  }
}
.lean-icon-chat {
  &:before {
    content: $lean-icon-chat; 
  }
}
.lean-icon-radio-btn-checked {
  &:before {
    content: $lean-icon-radio-btn-checked; 
  }
}
.lean-icon-ac {
  &:before {
    content: $lean-icon-ac; 
  }
}
.lean-icon-arrow_drop_down-copy {
  &:before {
    content: $lean-icon-arrow_drop_down-copy; 
  }
}
.lean-icon-arrow_drop_down {
  &:before {
    content: $lean-icon-arrow_drop_down; 
  }
}
.lean-icon-arrow_drop_up {
  &:before {
    content: $lean-icon-arrow_drop_up; 
  }
}
.lean-icon-book-a-room {
  &:before {
    content: $lean-icon-book-a-room; 
  }
}
.lean-icon-cancel {
  &:before {
    content: $lean-icon-cancel; 
  }
}
.lean-icon-capacity {
  &:before {
    content: $lean-icon-capacity; 
  }
}
.lean-icon-check {
  &:before {
    content: $lean-icon-check; 
  }
}
.lean-icon-check_box {
  &:before {
    content: $lean-icon-check_box; 
  }
}
.lean-icon-chevron_left {
  &:before {
    content: $lean-icon-chevron_left; 
  }
}
.lean-icon-chevron_right {
  &:before {
    content: $lean-icon-chevron_right; 
  }
}
.lean-icon-close {
  &:before {
    content: $lean-icon-close; 
  }
}
.lean-icon-delete {
  &:before {
    content: $lean-icon-delete; 
  }
}
.lean-icon-desk-booking {
  &:before {
    content: $lean-icon-desk-booking; 
  }
}
.lean-icon-error-outline {
  &:before {
    content: $lean-icon-error-outline; 
  }
}
.lean-icon-error {
  &:before {
    content: $lean-icon-error; 
  }
}
.lean-icon-expand_less {
  &:before {
    content: $lean-icon-expand_less; 
  }
}
.lean-icon-expand_more {
  &:before {
    content: $lean-icon-expand_more; 
  }
}
.lean-icon-fav {
  &:before {
    content: $lean-icon-fav; 
  }
}
.lean-icon-floor {
  &:before {
    content: $lean-icon-floor; 
  }
}
.lean-icon-grid {
  &:before {
    content: $lean-icon-grid; 
  }
}
.lean-icon-home {
  &:before {
    content: $lean-icon-home; 
  }
}
.lean-icon-list {
  &:before {
    content: $lean-icon-list; 
  }
}
.lean-icon-map {
  &:before {
    content: $lean-icon-map; 
  }
}
.lean-icon-map1 {
  &:before {
    content: $lean-icon-map1; 
  }
}
.lean-icon-menu {
  &:before {
    content: $lean-icon-menu; 
  }
}
.lean-icon-more {
  &:before {
    content: $lean-icon-more; 
  }
}
.lean-icon-my-bookings {
  &:before {
    content: $lean-icon-my-bookings; 
  }
}
.lean-icon-my-favourites {
  &:before {
    content: $lean-icon-my-favourites; 
  }
}
.lean-icon-navigation {
  &:before {
    content: $lean-icon-navigation; 
  }
}
.lean-icon-notification {
  &:before {
    content: $lean-icon-notification; 
  }
}
.lean-icon-powered-by {
  &:before {
    content: $lean-icon-powered-by; 
  }
}
.lean-icon-projector {
  &:before {
    content: $lean-icon-projector; 
  }
}
.lean-icon-ancestor {
  &:before {
    content: $lean-icon-ancestor; 
  }
}
.lean-icon-bell {
  &:before {
    content: $lean-icon-bell; 
  }
}
.lean-icon-refresh {
  &:before {
    content: $lean-icon-refresh; 
  }
}
.lean-icon-room-booking {
  &:before {
    content: $lean-icon-room-booking; 
  }
}
.lean-icon-screen {
  &:before {
    content: $lean-icon-screen; 
  }
}
.lean-icon-seat-copy {
  &:before {
    content: $lean-icon-seat-copy; 
  }
}
.lean-icon-seat {
  &:before {
    content: $lean-icon-seat; 
  }
}
.lean-icon-security-camera {
  &:before {
    content: $lean-icon-security-camera; 
  }
}
.lean-icon-settings {
  &:before {
    content: $lean-icon-settings; 
  }
}
.lean-icon-shape {
  &:before {
    content: $lean-icon-shape; 
  }
}
.lean-icon-timer {
  &:before {
    content: $lean-icon-timer; 
  }
}
.lean-icon-tv {
  &:before {
    content: $lean-icon-tv; 
  }
}
.lean-icon-un-check {
  &:before {
    content: $lean-icon-un-check; 
  }
}
.lean-icon-visitor-management {
  &:before {
    content: $lean-icon-visitor-management; 
  }
}
.lean-icon-warning {
  &:before {
    content: $lean-icon-warning; 
  }
}
.lean-icon-way-finder {
  &:before {
    content: $lean-icon-way-finder; 
  }
}
.lean-icon-wheel-chair {
  &:before {
    content: $lean-icon-wheel-chair; 
  }
}
.lean-icon-wifi {
  &:before {
    content: $lean-icon-wifi; 
  }
}
.lean-icon-zone {
  &:before {
    content: $lean-icon-zone; 
  }
}
.lean-icon-desk-booking-1 {
  &:before {
    content: $lean-icon-desk-booking-1;     
    color: #fff;
  }
}

