
$lean-font-family: "Source Sans Pro", sans-serif;
$lean-btn-bg: #002647;
$lean-bg-shade:#EAEFF9;

$lean-modal-myprofile-title : #1A2F5A;

$lean-preloader-bg-gradient-1 : #F5515F;
$lean-preloader-bg-gradient-2 : #9F041B;
$lean-preloader-bg-stripe : rgba(255, 255, 255, 0.205);

$lean-login-label-color: #555656;
$lean-login-bg: white;
$lean-login-line-color: #EDEFF0;

$lean-dashboard-usageBox-bg-1: #23BCA5;
$lean-dashboard-usageBox-bg-2: #5E55B0;
$lean-dashboard-usageBox-bg-3: #BC4299;
$lean-dashboard-usageBox-bg-4: #DE991B;
$lean-dashboard-usageBox-text: #FFFFFF;
$lean-dashboard-myProfile-dropdown-bg: white;
$lean-dashboard-myProfile-text: #1A2F5A;

$lean-notification-btn-bg-yes: #26B82D;
$lean-notification-btn-bg-no: #d8dae1;
$lean-notification-text: #1A2F5A;
$lean-notification-btn-text-yes: #FFFFFF;
$lean-notification-btn-text-no: #556080;
$lean-viewAll-notification-delete-btn-border : #1A2F5A;
$lean-viewAll-notification-delete-btn-text : darkblue;

$lean-setting-slider-track-bg: darkblue;
$lean-setting-slider-rail-bg: grey;
$lean-setting-slider-thumb-bg: #DEDEDE;
$lean-setting-slider-display-bg: #DEDEDE;
$lean-setting-amenity-header-text: #1A2F5A;
$lean-setting-amenity-sub-header-text: #4A4B4E;
$lean-setting-toggle-switch-bg: rgba(0, 0, 0, 0.25);
$lean-setting-toggle-switch-label: #4A4B4E;
$lean-setting-toggle-switch-label-checked: white;
$lean-setting-toggle-switch-slider: darkblue;

$lean-upcoming-event-time-left-border: darkblue;
$lean-upcoming-event-time-left-text: #2B5EC6;
$lean-upcoming-event-header-text: #1A2F5A;

$lean-default-fontFamily: "Source Sans Pro";
$lean-faq-bg-color-primary: white;
$lean-faq-bg-color-secondary: #eaeff9;
$lean-faq-ink-color:#1A2F5A;
$lean-faq-typo-color:#eaeff9;
$lean-faq-MuiAppBar:black;
$lean-faq-content-color :#424A51;

$lean-aboutUs-bg-color-secondary: #eaeff9;
// $lean-aboutUs-bg-text-secondary: #444444;
$lean-aboutUs-bg-text-secondary: #4A4B4E;
$lean-aboutUs-ink-color:#1A2F5A;
$lean-aboutUs-bg-color-primary: white;
$lean-aboutUs-bg-text-primary: #444444;

$lean-feedBack-text-color:#1A2F5A;
$lean-feedBack-buttonBorder: 1px solid  #C4C4C4;
$lean-feedBack-buttonColor:white;
$lean-feedBack-buttonBackground:linear-gradient(0deg, #002647 0%, #2E79B1 100%);

$lean-support-background-color:#ecf1fa;
$lean-support-iconBlock-color:white;
$lean-support-text-color:#1A2F5A;
$lean-support-buttonBackground:linear-gradient(0deg, #002647 0%, #2E79B1 100%);





$lean-card-text-color  : #004A8F;
$lean-header-color: #004A8F;
$lean-btn-ammenties-bg : #004A8F;
$lean-btn-ammenties-alt-bg : rgba(223,232,243,0.41);
$lean-btn-ammenties-text : #fff;
$lean-select-bg: #004A8F;
$lean-select-color:white;
$lean-card-text-color  : #004A8F;
$lean-header-color: #004A8F;
$lean-table-head-bg :#C0CADF;
$flexs :1,2,3,4,5,6;
$directions:column,column-reverse,row,row-reverse;
$contentjustify: center , flex-end, flex-start ,space-evenly ,space-around ,space-between ;
$allignitems:  flex-start, flex-start ,center, baseline, stretch ;
$allignself : flex-start, flex-start ,center, baseline, stretch ;
$alligncontent: flex-end ,flex-start, center, space-around ,space-between, stretch;
$paddings :1px,2px,3px,4px,5px,6px,7px,8px,9px,10px,11px,12px,13px,14px,15px,16px,17px,18px,19px,20px,21px,22px,23px,24px,25px,26px,27px;
$paddingsY :1px,2px,3px,4px,5px,6px,7px,8px,9px,10px,11px,12px,13px,14px,15px,16px,17px,18px,19px,20px,21px,22px,23px,24px,25px,26px,27px;
$lean-primary-bg- :#CADCFF; 
$paddingsubtop:2px,4px,8px,16px,24px;
$paddingsubbottom:2px,4px,8px,16px,24px;
$paddingsubleft:2px,4px,8px,16px,24px;
$paddingsubright:2px,4px,8px,16px,24px;
$paddingsuby:2px,4px,8px,16px,24px;
$paddingsubx:2px,4px,8px,16px,24px;
$lean-primary-text-color : #1A2F5A;
$lean-primary-text-color-success : 	#2D7C31;
$lean-main-pd : 24px;
$lean-sub-px :24px;
$lean-primary-text-color-failure : #EB3F54;
$lean-cancel-bg:#fce9ea;
$lean-ongoing-color:#F0910C;
$lean-ongoing-bg:#fce9cf;
$lean-completed-color:#3A455F;
$lean-completed-bg:#e2e6e9;
$lean-upcoming-color:#28a745;
$lean-upcoming-bg:#d6f5dd;
$lean-tabel-bg: #C0CADF;
$lean-tabel-color:#FFFFFF;
$lean-table-menuitemcolor:#22629E;
$lean-primary-bg- :#CADCFF; 
$lean-table-content-color:#4A4B4E;
$lean-primary-text-color : #1A2F5A;







