@import "../../assets/scss/base/base";
@import "../../assets/scss/abstracts/placeholders";
@import "../../assets/scss/abstracts/variables";
@import "../../assets/scss/base/typography";




.lean-visitor-card-background
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url('../../assets/login-BG.png');

    & > .lean-visitor-card
    {
        &.lean-card{
            width:80%;
            padding: 16px 16px;
            box-sizing: border-box;
        }
    }
}
