@import "../../assets/scss/base/base";
@import "../../assets/scss/abstracts/placeholders";
@import "../../assets/scss/abstracts/variables";
@import "../../assets/scss/base/typography";

.lean-table {
	&-card {
		&.lean-card {
			padding: 16px;
			margin: 16px 0;
		}

		&-icon {
			&-container {
				&.MuiGrid-item {
					margin: 0 8px;
					height: 60px;
					width: 60px;
					background-color: rgba(211, 211, 211, 0.37);
				}
			}
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100%;
		}

		&-headline {
			&-container {
				&.MuiGrid-item {
					flex-basis: 55%;
					padding: 0 8px;
				}
			}

			display: flex;
			flex-direction: column;

			// padding-left: 12px;

			&-name {
				@extend %lean-section-header-text;
				margin: 8px 0;
				color: rgb(26, 47, 90);
				// padding-left: 20px;
			}
		}

		&-menu {
			&-container {
				&.MuiGrid-item {
					display: flex;
					justify-content: flex-end;
					width: 15%;
				}
			}
		}

		&-subtext {
			&-container {
				&.MuiGrid-item {
					margin-left:8px;
					padding: 6px 0;
					display: flex;
				}

				& > svg {
					margin-right: 12px;
					color: rgb(26, 47, 90);
				}
			}


			@extend %lean-btn-text;
			font-weight: 400;
			color: rgba(0, 0, 0, 0.8);

			
		}
	}

	&-header {
		&.MuiTableHead-root {
			background-color: rgb(192, 202, 223);
		}

		& > tr {
			height: 60px;
			max-height: 60px;

			& > th {
				background-color: rgb(192, 202, 223);

				& > span {
					@extend %lean-form-text;
					color: rgb(26, 47, 90);
					font-weight: bold;
					padding: 0;
					text-align: left;
					background-color: inherit;

					cursor: default;
					&:hover {
						background: none;
					}
				}
				& > button {
					@extend %lean-form-text;
					color: rgb(26, 47, 90);
					font-weight: bold;
					padding: 0;
					text-align: left;
					background-color: inherit;

					&:hover {
						background: none;
					}

					&.MuiButton-root > span {
						display: flex;
						flex-direction: row;
						align-items: center;
						white-space: nowrap;

						& > .lean-table-body-recurring {
							display: flex;
							flex-direction: column;
							align-items: flex-start;

							& > .lean-table-body-subheader {
								font-size: 10px;
								line-height: 13px;
							}
						}

						// justify-content: flex-start;

						& > i {
							font-size: 24px;
						}
					}
				}
			}
		}
	}

	&-row.MuiTableRow-root.MuiTableRow-hover {
		cursor: pointer;
		&.lean-table-body-recurrent {
			height: 56px;

			& > td {
				padding: 0;
			}
		}
		&:hover {
			.lean-table-body-room-cell-icon {
				visibility: visible;
			}
		}
	}

	&-pagination {
		&.MuiTableCell-root {
			border: none;
			background: transparent;

			&.lean-table-pagination-left-heading {
				padding-left: 0;

				& > .lean-table-pagination-left-heading-tb {
					padding-left: 0;
				}
			}
		}

		&-heading.MuiTablePagination-caption,
		&-heading.MuiTypography-caption {
			@extend %lean-form-text;
			color: rgb(26, 47, 90);
			font-size: 13px;
			font-weight: 600;
			line-height: 17px;
			padding: 0 4px;
		}
		&-select {
			&.MuiTablePagination-select {
				@extend %lean-form-text;
				color: rgb(74, 75, 78);
				border-radius: 3px;
				background-color: rgb(255, 255, 255);
				font-size: 13px;
				font-weight: 600;
				line-height: 17px;
				display: flex;
				justify-content: center;

				&:focus {
					background: rgb(255, 255, 255);
				}
			}

			&-root.MuiTablePagination-selectRoot {
				margin-right: 10px;
			}
		}

		&-spacer.MuiTablePagination-spacer {
			flex: 1;
		}

		&-action {
			// display: flex;
			padding-left: 3px;
			text-align: start;
		}

		&-btn {
			&-next.MuiButton-root {
				margin-left: 6px;
				min-width: unset;
			}

			&-prev.MuiButton-root {
				margin-right: 6px;
				min-width: unset;
			}

			&.MuiButton-root {
				@extend %lean-form-text;
				margin-left: 7px;
				border-radius: 3px;
				background-color: rgba(255, 255, 255, 1);
				text-transform: none;
				color: rgb(26, 47, 90);
				font-size: 13px;
				font-weight: 600;
				line-height: 17px;
				// max-height: 37px;
				height: 37px;

				&:hover {
					background-color: rgb(255, 255, 255);
				}
			}
		}
	}

	&-body {
		background: rgb(255, 255, 255);
		max-height: 200px;

		// &.lean-table-body-recurrent > tr {
		//   height: 56px;
		// }

		&-text {
			display: flex;
			justify-content: flex-start;
			align-items: center;

			& > svg {
				padding-right: 2px;
				color: rgb(153, 166, 179);
			}
		}

		& > tr {
			height: 80px;
			max-height: 80px;

			&:hover {
				&.MuiTableRow-root.MuiTableRow-hover {
					background: rgb(255, 255, 255);
				}
				box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
				z-index: 3;
				transition: box-shadow 0.1s ease-in-out;
			}
			& > td {
				@extend %lean-form-text;
				color: rgb(74, 75, 78);
				font-weight: bold;

				& > .lean-table-body-subtext {
					font-size: 12px;
					font-weight: 600;
					line-height: 15px;
					margin-left: 3px;
				}
			}
		}

		&-tooltip {
			&-arrow {
				&.MuiTooltip-arrow {
					color: rgb(255, 255, 255);
				}
			}

			&.MuiTooltip-tooltip {
				@extend %lean-form-text;
				color: rgb(34, 98, 158);
				border-radius: 4px;
				padding: 12px;
				background-color: rgb(255, 255, 255);

				& > .lean-table-body-tooltip-sub-title > a {
					@extend %lean-form-limit-text;
					text-decoration: underline;
					color: rgb(34, 98, 158);

					&:focus {
						color: rgb(34, 98, 158);
					}
				}
			}
		}

		&-room-cell {
			&.MuiTableCell-root {
				color: rgb(0, 74, 143);
				width: 120px;
				min-width: 120px;
			}

			&-contents {
				display: flex;
				align-items: center;
			}

			&-data {
				margin: auto;
				margin-left: 0px;
				max-width: 90px;
				overflow: hidden;
			}

			&-icon {
				cursor: pointer;
				width: 20px;
				height: 20px;
				fill: rgb(255, 255, 255);
				border-radius: 50%;
				padding: 4px;
				background-color: rgb(153, 166, 179);
				visibility: hidden;
				display: flex;
				align-items: center;
				justify-content: center;
			}
			// text-overflow: ellipsis;
			// white-space: nowrap;
			// overflow: hidden;
		}

		&-subj-cell.MuiTableCell-root {
			// width: 130px;
			// min-width: 130px;
			// max-width: 130px;
			// text-overflow: ellipsis;
			// white-space: nowrap;
			// overflow: hidden;
		}

		&-menu {
			&-icon {
				&.MuiSvgIcon-root {
					@extend %lean-section-header-text;
					color: rgb(153, 166, 179);
				}
			}

			&.MuiMenu-paper {
				border-radius: 4px;
				min-height: 68px;
				min-width: 132px;
				& > ul {
					padding: 2px 0;

					& > li {
						min-height: 0;
					}
				}
			}
		}

		&-menu-item.MuiMenuItem-root {
			font-size: 14px;
			font-weight: 600;
			line-height: 24px;
			color: rgb(34, 98, 158);
			padding: 4px 12px;
		}

		&-status.MuiChip-root {
			@extend %lean-form-text;
			font-weight: 600;
			width: 99px;
			height: 26px;
			border-radius: 4px;
			margin-right: 8px;
			//   padding-right: 8px;

			&.lean-room-Upcoming {
				background-color: rgba(45, 124, 49, 0.1);
				color: rgba(45, 124, 49, 1);
			}

			&.lean-room-Ongoing {
				background-color: rgba(240, 145, 12, 0.1);
				color: rgba(240, 145, 12, 1);
			}

			&.lean-room-Cancelled {
				background-color: rgba(235, 63, 83, 0.1);
				color: rgba(235, 63, 83, 1);
			}

			&.lean-room-Completed {
				background-color: rgba(85, 96, 128, 0.1);
				color: rgba(85, 96, 128, 1);
			}
		}
	}
}

.lean-table-empty-screen {
	height: calc(100vh - 204px);
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;

	// & > .lean-table-empty-screen-item {
	// 	display: flex;
	// 	flex-direction: column;
	// 	justify-content: center;

	& > .lean-table-empty-screen-text {
		@extend %lean-page-header-text;
		font-weight: bold;
		color: rgb(26, 47, 90);
		display: flex;
		justify-content: center;
		margin-top: 32px;
	}
	// }
}

.lean-recurrent-headline {
	padding: 16px 0;
}

.lean-table-recurring {
	&.MuiTableContainer-root::-webkit-scrollbar {
		width: 0px;
	}
}
