/* .App {
  margin : 40px;
} */

@import "./assets/scss/abstracts/variables";
.lean-main-content {
	position: absolute;
	left: 300px;
	margin-top: 72px;
	height: calc(100% - 72px);
	width: calc(100% - 300px);
	top: 0;
	overflow: hidden;
	box-sizing: border-box;

	@media screen and (max-width: 600px) {
		left: 0;
		width: 100%;
	}
}
.lean-main-app-content {
	position: absolute;
	left: 340px;
	margin-top: 72px;
	height: calc(100% - 72px);
	width: calc(100% - 340px);
	top: 0;
	overflow: hidden;
	background-color: #e9eff3;
	// padding: 24px;
	box-sizing: border-box;

	@media screen and (max-width: 600px) {
		left: 0;
		width: 100%;
	}
}

.lean-icon-button-changes-for-chat.MuiButtonBase-root.MuiIconButton-root.MuiIconButton-colorInherit {
	position: absolute;
	right: 0;
	// top: 1px;
	// padding: 0px;
}
