

.lean-calendar-image{
    // display: flex;
    // align-items:center;
    // justify-content: ;    
    & > .lean-calendar-image-text{
        padding: 12px;
        font-size: 15px;
        font-weight: 600;
    }
}

.lean-header-table-page{
    padding: 5px;
    align-items: center;
    display: inline-flex;
    justify-content: space-between;
    flex-wrap: wrap;
    // width: 100%;

   
    &-item{

        &.lean-page-title{
            // height: 32px;
            width:145px;
            // flex-basis: 20%;
        }
        &.lean-page-content{
            display: flex;
            justify-content: flex-end;
            // flex-basis: 80%;
            align-items: center;
            // flex-direction: row-reverse;
            // justify-content: flex-end;
            // display: flex;
            // align-self:flex-end;

        }

        &.lean-status-label{

            // @extend %lean-form-text;
            justify-content: flex-end;
            padding-right:12px;
            // align-items: center;
            // align-content: center;
            // margin: auto;
            // padding-top: 37px;
        }

        &.lean-status-dropdown{
            padding-right:10px;
            // height: 40px;
            width: 129px;
        }

        &.lean-time-status-dropdown{
            // padding-right:10px;
            // height: 40px;
            // width: 161px;
            min-width: 200px;
            max-width: 200px;
        }

        &.lean-addAppointment-button{
            padding-right:10px;
        }
    }

}
.lean-form-text-field{
    &.lean-dashboard-header-component{
        background-color: white;
    }
}
.MuiListItem-root{
    &.lean-dashboard-header-component-text{        
            // height: 18px;
            // width: 62px;
            color: #1A2F5A;
            font-family: "Source Sans Pro";
            font-size: 14px;
            font-weight: 600;
            line-height: 18px;
            text-align: justify;
          
    }
}





