// @import "../../assets/scss/base/base";
// @import "../../assets/scss/abstracts/placeholders";
// @import "../../assets/scss/abstracts/variables";
// @import "../../assets/scss/base/typography";
// @import "../../assets/scss/components/button";

.lean-calendar-image {
	display: inline-flex;
	align-items: center;
	// justify-content: ;
	& > .lean-calendar-image-text {
		padding-left: 8px;
	}
}

.exportXLSSSButton{
	height: 42px;
	width: 42px;
	margin-top: 5px;
	border: solid 1px #DDDFE8;
	// border-color: ;
	margin-left: 0px;
	background-color: white;
}

.lean-header-table-page {
	// padding: 5px 0;
	align-items: center;
	display: inline-flex;
	// justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-between;

	&.lean-header-page {
		// @extend %lean-page-header-text;
	}

	&-item {
		&.lean-page-title {
		}
		&.lean-page-content {
			display: flex;
            justify-content: flex-end;
            
			// flex-basis: 80%;
			align-items: center;

			@media screen and (max-width: 600px) {
                // padding: 10px 0;
                margin-top: 24px;
                justify-content: flex-start;
			}
			// flex-direction: row-reverse;
			// justify-content: flex-end;
			// display: flex;
			// align-self:flex-end;
		}

		&.three-dropdowns{
			display: flex;
			// justify-content: flex-end;
			width: 100%;
    		justify-content: flex-end;
		}

		&.lean-status-label {
			// @extend %lean-form-text;
			justify-content: flex-end;
			margin-right: 12px;
			// align-items: center;
			// align-content: center;
			// margin: auto;
            // margin-top: 37px;
            
            @media screen and (max-width: 600px) {
                flex-basis: 10%;
				// width: 129px;
			}
		}

		&.lean-status-dropdown {
			margin-right: 10px;
			// height: 40px;
			width: 129px;

			@media screen and (max-width: 600px) {
                flex-basis: 35%;
				// width: 129px;
			}
		}

		&.lean-time-status-dropdown {
			// margin-right:10px;
			// height: 40px;
			width: 161px;

			@media screen and (max-width: 600px) {
                flex-basis:40%;
			}
		}

		&.lean-addAppointment-button.MuiButton-root {
			margin: 0;
			width: 177px;
		}
	}
}

.lean-form-text-field.lean-table-filters {
	background-color: white;
}
