// @import '../../css/variables';

@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap');

$primaryTextColor: white;
$secondaryTextColor:#0E0F42;
$tabletBlue:#0E0F42;
$font:"Nanum Gothic", sans-serif;


.PCMainContainer{
    .PCcapturedImages{
        display:flex;
        width: 420px;
        justify-content: flex-start;        
        
        .PCImageItem{
            height: 107px;
            width: 107px;
            overflow: hidden;
            border-radius: 4px;       
            border: 2px solid #06054300;
            background-color: #06054300;
            img{               
                z-index: -100;
                width: 150px;
                height: auto;
                margin: 0px 0 0 -20px;                         
            }

            .imgSelected{
                opacity: 0.75;
            }
            &.itemSelected{
                border: 2px solid #060543;
                background-color: #060543c2;
            }

            .loader{
                z-index: 100;
                position: absolute;
                margin-left: 32px;
                margin-top: 32px;        
                &.none{
                    display: none;
                }
            }

            &.id{
                   width: 128px;
                   height: 86px;
            }

        }
    }
}