@import url("https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap");
.PCMainContainer .PCcapturedImages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 420px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.PCMainContainer .PCcapturedImages .PCImageItem {
  height: 107px;
  width: 107px;
  overflow: hidden;
  border-radius: 4px;
  border: 2px solid #06054300;
  background-color: #06054300;
}

.PCMainContainer .PCcapturedImages .PCImageItem img {
  z-index: -100;
  width: 150px;
  height: auto;
  margin: 0px 0 0 -20px;
}

.PCMainContainer .PCcapturedImages .PCImageItem .imgSelected {
  opacity: 0.75;
}

.PCMainContainer .PCcapturedImages .PCImageItem.itemSelected {
  border: 2px solid #060543;
  background-color: #060543c2;
}

.PCMainContainer .PCcapturedImages .PCImageItem .loader {
  z-index: 100;
  position: absolute;
  margin-left: 32px;
  margin-top: 32px;
}

.PCMainContainer .PCcapturedImages .PCImageItem .loader.none {
  display: none;
}

.PCMainContainer .PCcapturedImages .PCImageItem.id {
  width: 128px;
  height: 86px;
}
/*# sourceMappingURL=PhotoCapture.css.map */